
<tr>
    <td width="10%">Tuesday, July 9</td>
    <td colspan="2">
        <h5>Front End Development - Basics</h5>
        <b>Objective: </b>Learn how HTML, CSS, and JavaScript are used to build and modify sites in a browser<br/><br/>
        <b>References: </b>
        <ol>
            <li><a href="https://docs.google.com/forms/d/e/1FAIpQLScHgW6UOGGBOOIBR9qqhItdEKUMotooHkFAeMI42_nLMuoT1w/viewform?usp=sf_link">Day 1 Survey</a></li>
            <li><a href="https://www.w3schools.com/html/default.asp">HTML [W3 Schools]</a></li>
            <li><a href="https://www.w3schools.com/css/default.asp">CSS [W3 Schools]</a></li>
            <li><a href="https://www.w3schools.com/js/default.asp">JavaScript [W3 Schools]</a></li>
        </ol>

        <b>Activity: </b>Build a front end web site<br/><br/>

        <br/><a href="static_files/slides/Front_End.pdf"><b>Lecture Slides</b></a><br/>
    </td>
</tr>
