
<tr>
    <td width="10%">Tuesday, July 16</td>
    <td colspan="2">
        <h5>Web Servers</h5>
        <b>Objectives: </b>Build your first back-end for a web app in both Node and Python<br/><br/>
        <b>References: </b>
        <ol>
            <li><a href="https://expressjs.com/en/starter/installing.html">Node/Express Documentation</a> - You can skip the "Express application generator" section and write this from scratch if you'd prefer</li>
            <li><a href="https://flask.palletsprojects.com/en/1.1.x/quickstart/">Flask Documentation</a></li>
        </ol>

        <br/><a href="static_files/slides/Web_Frameworks.pdf"><b>Lecture Slides</b></a><br/>

    </td>
</tr>
