
<tr>
    <td width="10%">Thursday, July 18</td>
    <td colspan="2">
        <h5>Deployment</h5>
        <b>Objectives: </b>Deploy your apps using a web server<br/><br/>
        <b>References: </b>
        <ol>
            <li><a href="https://www.nginx.com/resources/wiki/start/">Nginx</a></li>
            <li><a href="http://httpd.apache.org/docs/2.4/getting-started.html">Apache</a></li>
            <li><a href="https://certbot.eff.org">Certbot</a></li>
            <li><a href="http://pm2.keymetrics.io">PM2</a></li>
        </ol>

        <br/><a href="static_files/slides/Deployment.pdf"><b>Lecture Slides</b></a><br/>

    </td>
</tr>
