
<tr>
    <td width="10%">Tuesday, August 6</td>
    <td colspan="2">
        <h5>HTTP From Scratch</h5>
        <b>Objectives: </b><br/><br/>
        <b>References: </b>
        <ol>
            <li><a href="https://tools.ietf.org/html/rfc2616">RFC2610 - HTTP 1.1</a></li>
            <li><a href="https://en.wikipedia.org/wiki/Internet_Protocol">IP (Wikipedia)</a></li>
            <li><a href="https://en.wikipedia.org/wiki/Transmission_Control_Protocol">TCP (Wikipedia)</a></li>
        </ol>

        <br/><a href="static_files/slides/HTTP.pdf"><b>Lecture Slides</b></a><br/>


    </td>
</tr>
