
<tr>
    <td width="10%">Thursday, July 25</td>
    <td colspan="2">
        <h5>Client/Server Interactions - AJAX/Web Sockets</h5>
        <b>Objectives: </b>Implement two way communication between client and server<br/><br/>
        <b>References: </b>
        <ol>
            <li><a href="https://www.w3schools.com/js/js_ajax_intro.asp">AJAX</a></li>
            <li><a href="https://socket.io/docs/client-api/">Socket.io Client Documentation</a></li>
{#            <li><a href=""></a></li>#}
        </ol>

{#        <br/><a href="static_files/slides/.pdf"><b>Lecture Slides</b></a><br/>#}


    </td>
</tr>
