
<tr>
    <td width="10%">Tuesday, August 13</td>
    <td colspan="2">
        <h5>Web Sockets From Scratch</h5>
        <b>Objectives: </b>Implement server-side WebSockets from a TCP socket<br/><br/>
        <b>References: </b>
        <ol>
            <li><a href="https://tools.ietf.org/html/rfc6455">RFC6455 - The WebSocket Protocol</a></li>
            <li><a href="https://developer.mozilla.org/en-US/docs/Web/API/WebSockets_API">WebSocket Documentation and Examples</a></li>
        </ol>

        <br/><a href="static_files/slides/WebSockets.pdf"><b>Lecture Slides</b></a><br/>


    </td>
</tr>
