
<tr>
    <td width="10%">Thursday, July 11</td>
    <td colspan="2">
        <h5>Front End Development - APIs and add-ons</h5>
        <b>Objectives: </b>Learn how to manipulate the front end of a website and understand the concerns with front end development -and- Integrate an API into your front end<br/><br/>
        <b>References: </b>
        <ol>
            <li><a href="https://fury.cse.buffalo.edu/cse199">Treasure Hunt</a> - Do Phase 3 as part of today's activity</li>
            <li><a href="https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/Your_first_WebExtension">Extension tutorial</a></li>
            <li><a href="https://developers.google.com/maps/documentation/javascript/tutorial">Google Maps</a></li>
        </ol>

        <br/><a href="static_files/slides/Front_End_2.pdf"><b>Lecture Slides</b></a><br/>

    </td>
</tr>
