

<tr>
    <td class="date">Wednesday<br/>November 15</td>
    <td>
        <h6 class="header">Email -
            <a href="static_files/slides/4_5_Email.pdf" target="_blank">Slides</a></h6></h6>
        <ul class="reading">
            <li><a href="https://datatracker.ietf.org/doc/html/rfc5321">RFC 5321 - SMTP</a></li>
            <li><a href="https://developers.google.com/gmail/api/guides">Gmail API Docs</a></li>
        </ul>
    </td>
</tr>



<tr>
    <td class="date">Friday<br/>November 17</td>
    <td>
        <h6 class="header">Automated Clients</h6>
        <ul class="reading">
            <li><a href="https://www.selenium.dev/selenium-ide/">Selenium IDE</a></li>
            <li><a href="https://docs.python-requests.org/en/latest/index.html">Python HTTP Client</a></li>
            <li><a href="https://websocket-client.readthedocs.io/en/latest/index.html">Python WebSocket Client</a></li>
        </ul>

    </td>
</tr>


<tr>
    <td class="date">Wednesday<br/>November 29</td>
    <td>
        <h6 class="header">Payments -
            <a href="static_files/slides/4_8_Payments.pdf" target="_blank">Slides</a>
        </h6>
        <ul class="reading">
{#            <li><a href="https://developer.paypal.com/home/">PayPal Dev</a></li>#}
{#            <li><a href=""></a></li>#}
{#            <li><a href=""></a></li>#}
        </ul>
    </td>
</tr>


<tr>
    <td class="date">Friday<br/>December 1</td>
    <td>
        <h6 class="header">Architecture (API vs. HTML Templates)
{#            <a href="static_files/slides/1_1_TCPIP.pdf" target="_blank">Slides</a>#}
        </h6>
        <ul class="reading">
{#            <li><a href="https://en.wikipedia.org/wiki/Internet_Protocol">IP (Wikipedia)</a></li>#}
{#            <li><a href="https://en.wikipedia.org/wiki/Transmission_Control_Protocol">TCP (Wikipedia)</a></li>#}
        </ul>
    </td>
</tr>
