<tr>
    <td width="5%">Monday, January 27</td>
    <td colspan="2"><h5>Course Introduction</h5>

{#        <ol>#}
{#            <li>#}
{#                <a href="https://docs.google.com/forms/d/e/1FAIpQLScHgW6UOGGBOOIBR9qqhItdEKUMotooHkFAeMI42_nLMuoT1w/viewform?usp=sf_link">Day 1 Survey</a>#}
{#            </li>#}
{#        </ol>#}
    </td>
</tr>


<tr>
    <td width="10%">Wednesday, January 29
    </td>
    <td colspan="2">

        <div class="row">
            <div class="col-md-7">
                <h5 class="header">Front End Development - HTML/CSS</h5>

                <a href="static_files/slides/1_Front_End.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive slide-icon"/></a>

            </div>
            <div class="col-md-5">
                <ul>
                    <li><a href="https://www.w3schools.com/html/default.asp">HTML [W3 Schools]</a></li>
                    <li><a href="https://www.w3schools.com/css/default.asp">CSS [W3 Schools]</a></li>
                </ul>
            </div>
        </div>

    </td>
</tr>

<tr>
    <td width="10%">Friday, January 31</td>
    <td colspan="2">


        <div class="row">
            <div class="col-md-7">
                <h5 class="header">Front End Development - JavaScript</h5>
{#                <a href="static_files/slides/.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive slide-icon"/></a>#}

            </div>
            <div class="col-md-5">
                <ul>
            <li><a href="https://www.w3schools.com/js/default.asp">JavaScript [W3 Schools]</a></li>
                </ul>
            </div>
        </div>



    </td>
</tr>
