

<tr>
    <td width="10%">Monday, March 22</td>
    <td colspan="2">




        <div class="row">
            <div class="col-md-7">
                <h5 class="header">WebSocket Handshake</h5>
                 <a href="static_files/slides/4_1_WebSocket_Handshake.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive slide-icon"/></a>

            </div>
            <div class="col-md-5">
                <ul>
                    <li><a href="https://tools.ietf.org/html/rfc6455">RFC 6455</a></li>
                    <li><a href="https://developer.mozilla.org/en-US/docs/Web/API/WebSockets_API">WebSocket Documentation and Examples</a></li>
                </ul>
            </div>
        </div>



    </td>
</tr>

<tr>
    <td width="10%">Wednesday, March 24</td>
    <td colspan="2">


        <div class="row">
            <div class="col-md-7">
                <h5 class="header">WebSocket Frames</h5>
                 <a href="static_files/slides/4_2_WebSocket_Frames.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive slide-icon"/></a>

            </div>
            <div class="col-md-5">
                <ul>
{#                    <li><a href="_____">_____</a></li>#}
                </ul>
            </div>
        </div>


    </td>
</tr>

<tr>
    <td width="10%">Friday, March 26</td>
    <td colspan="2">



        <div class="row">
            <div class="col-md-7">
                <h5 class="header">WebSocket Examples and Help</h5>
{#                 <a href="static_files/slides/_____.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive slide-icon"/></a>#}

            </div>
            <div class="col-md-5">
                <ul>
{#                    <li><a href="_____">_____</a></li>#}
                </ul>
            </div>
        </div>


    </td>
</tr>

<tr class="table-warning">
    <td colspan="3">Friday, March 26 @ 11:59pm
        <span class="float-right">HW3 Due</span>
    </td>
</tr>


<tr class="table-warning">
    <td colspan="3">Friday, March 26
        <span class="float-right">Last day to submit first project checkpoint if you want to use both checkpoints</span>
    </td>
</tr>