

<tr>
    <td width="10%">Monday, February 3</td>
    <td colspan="2">

        <div class="row">
            <div class="col-md-7">
                <h5 class="header">TCP/IP and TCP Socket Servers</h5>
                 <a href="static_files/slides/3_TCPIP.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive slide-icon"/></a>

            </div>
            <div class="col-md-5">
                <ul>
                <li><a href="https://en.wikipedia.org/wiki/Internet_Protocol">IP (Wikipedia)</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Transmission_Control_Protocol">TCP (Wikipedia)</a></li>
                </ul>
            </div>
        </div>


    </td>
</tr>

<tr>
    <td width="10%">Wednesday, February 5</td>
    <td colspan="2">
        <div class="row">
            <div class="col-md-7">
                <h5 class="header">HTTP Introduction</h5>
                 <a href="static_files/slides/4_HTTP_Intro.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive slide-icon"/></a>

            </div>
            <div class="col-md-5">
                <ul>
                    <li><a href="https://en.wikipedia.org/wiki/Hypertext_Transfer_Protocol">HTTP (Wikipedia)</a></li>
                    <li><a href="https://tools.ietf.org/html/rfc2616">RFC2610 - HTTP 1.1</a></li>

{#                    <li><a href="_____">_____</a></li>#}
                </ul>
            </div>
        </div>
    </td>
</tr>

<tr>
    <td width="10%">Friday, February 7</td>
    <td colspan="2">
        <div class="row">
            <div class="col-md-7">
                <h5 class="header">HTTP Continued</h5>
{#                 <a href="static_files/slides/_____.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive slide-icon"/></a>#}

            </div>
            <div class="col-md-5">
                <ul>
{#                    <li><a href="_____">_____</a></li>#}
                </ul>
            </div>
        </div>
    </td>
</tr>


<tr class="table-warning">
    <td colspan="3">Friday, February 7 @ 11:59pm
        <span class="float-right">HW1 Due</span>
    </td>
</tr>