

<tr>
    <td width="10%">Monday, February 14</td>
    <td colspan="2">

        <div class="row">
            <div class="col-md-7">
                <h5 class="header">CRUD and REST API</h5>
                <a href="static_files/slides/1_7_API.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive slide-icon"/></a>

            </div>
            <div class="col-md-5">
                <ul>
                </ul>
            </div>
        </div>


    </td>
</tr>

<tr>
    <td width="10%">Wednesday, February 16</td>
    <td colspan="2">

        <div class="row">
            <div class="col-md-7">
                <h5 class="header">Testing APIs and docker examples</h5>
                {#                 <a href="static_files/slides/_____.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive slide-icon"/></a>#}

            </div>
            <div class="col-md-5">
                <ul>
                    <li><a href="https://www.postman.com/">Postman</a></li>
                </ul>
            </div>
        </div>

    </td>
</tr>

<tr>
    <td width="10%">Friday, February 18</td>
    <td colspan="2">



        <div class="row">
            <div class="col-md-7">
                <h5 class="header">HTTP, Docker, and encodings examples</h5>
                {#                 <a href="static_files/slides/5_HTTP_Request_Response.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive slide-icon"/></a>#}

            </div>
            <div class="col-md-5">
                <ul>
                    {#                    <li><a href="_____">_____</a></li>#}
                </ul>
            </div>
        </div>

    </td>
</tr>




