

<tr>
    <td width="10%">Monday, November 28</td>
    <td colspan="2">

        <div class="row">
            <div class="col-md-7">
                <h5 class="header">Deployment with docker-compose</h5>
                {#                 <a href="static_files/slides/_____.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive slide-icon"/></a>#}

            </div>
            <div class="col-md-5">
                <ul>
                </ul>
            </div>
        </div>

    </td>
</tr>

<tr>
    <td width="10%">Wednesday, November 30</td>
    <td colspan="2">


        <div class="row">
            <div class="col-md-7">
                <h5 class="header">Deployment with docker-compose</h5>
                {#                 <a href="static_files/slides/_____.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive slide-icon"/></a>#}

            </div>
            <div class="col-md-5">
                <ul>
                </ul>
            </div>
        </div>

    </td>
</tr>


<tr class="table-warning">
    <td colspan="3">Wednesday, November 30 @ 11:59pm
        <span class="float-right">Deadline to
            <a href="https://calendly.com/hartloff/cse312-presentations">
                sign up for a presentation time
            </a>
        </span>
    </td>
</tr>


<tr>
    <td width="10%">Friday, December 2</td>
    <td colspan="2">

        <div class="row">
            <div class="col-md-7">
                <h5 class="header">Deployment with docker-compose and certbot</h5>
                {#                 <a href="static_files/slides/_____.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive slide-icon"/></a>#}

            </div>
            <div class="col-md-5">
                <ul>
                </ul>
            </div>
        </div>



    </td>
</tr>



