
<tr class="table-warning">
    <td colspan="3">Monday, September 26 @ 9:00am
        <span class="float-right">HW1 Due</span>
    </td>
</tr>
<tr>
    <td width="10%">Monday, September 26</td>
    <td colspan="2">


        <div class="row">
            <div class="col-md-7">
                <h5 class="header">HTML Templates</h5>
                <a href="static_files/slides/2_4_HTML_Templates.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive slide-icon"/></a>

            </div>
            <div class="col-md-5">
                <ul>
                    <li><a href="https://en.wikipedia.org/wiki/Query_string">Query Strings (Wikipedia)</a></li>
                    <li><a href="https://en.wikipedia.org/wiki/Web_template_system">Templating (Wikipedia)</a></li>
                </ul>
            </div>
        </div>

    </td>
</tr>

<tr>
    <td width="10%">Wednesday, September 28</td>
    <td colspan="2">


        <div class="row">
            <div class="col-md-7">
                <h5 class="header">Buffers</h5>
                <a href="static_files/slides/2_5_Buffers.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive slide-icon"/></a>

            </div>
            <div class="col-md-5">
                <ul>
                    {#                    <li><a href="_____">_____</a></li>#}
                </ul>
            </div>
        </div>

    </td>
</tr>

<tr>
    <td width="10%">Friday, September 30</td>
    <td colspan="2">


        <div class="row">
            <div class="col-md-7">
                <h5 class="header">HTML Injection Attacks</h5>
                <a href="static_files/slides/3_2_Injection_Attacks.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive slide-icon"/></a>

            </div>
            <div class="col-md-5">
                <ul>
                </ul>
            </div>
        </div>


    </td>
</tr>

