

<tr>
    <td width="10%">Monday, September 27</td>
    <td colspan="2">




        <div class="row">
            <div class="col-md-7">
                <h5 class="header">HTTP POST and Forms</h5>
                 <a href="static_files/slides/3_1_POST_Forms.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive slide-icon"/></a>

            </div>
            <div class="col-md-5">
                <ul>
                    <li><a href="https://www.w3schools.com/html/html_forms.asp">HTML Forms [W3 Schools]</a></li>
                </ul>
            </div>
        </div>


    </td>
</tr>

<tr>
    <td width="10%">Wednesday, September 29</td>
    <td colspan="2">


        <div class="row">
            <div class="col-md-7">
                <h5 class="header">HTTP POST - File Uploads</h5>
                <a href="static_files/slides/3_3_File_Uploads.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive slide-icon"/></a>

            </div>
            <div class="col-md-5">
                <ul>
                    <li><a href="https://tools.ietf.org/html/rfc1521">RFC1521 - Multipart Form</a></li>
                </ul>
            </div>
        </div>



    </td>
</tr>

<tr>
    <td width="10%">Friday, October 1</td>
    <td colspan="2">


        <div class="row">
            <div class="col-md-7">
                <h5 class="header">HTML Injection Attacks</h5>
                <a href="static_files/slides/3_2_Injection_Attacks.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive slide-icon"/></a>

            </div>
            <div class="col-md-5">
                <ul>
                </ul>
            </div>
        </div>


    </td>
</tr>

