

<tr>
    <td width="10%">Monday, February 15</td>
    <td colspan="2">



        <div class="row">
            <div class="col-md-7">
                <h5 class="header">Front End Development - HTML/CSS</h5>

                <a href="static_files/slides/2_1_Front_End.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive slide-icon"/> Slides</a>

            </div>
            <div class="col-md-5">
                <ul>
                    <li><a href="https://www.w3schools.com/html/default.asp">HTML [W3 Schools]</a></li>
                    <li><a href="https://www.w3schools.com/css/default.asp">CSS [W3 Schools]</a></li>
                </ul>
            </div>
        </div>





    </td>
</tr>

<tr>
    <td width="10%">Wednesday, February 17</td>
    <td colspan="2">


        <div class="row">
            <div class="col-md-7">
                <h5 class="header">Front End Development - JavaScript</h5>
                <a href="static_files/slides/2_2_Front_End.pdf" target="_blank"><img src="static_files/slides.png"
                                                                                   class="img-responsive slide-icon"/></a>

            </div>
            <div class="col-md-5">
                <ul>
                    <li><a href="https://www.w3schools.com/js/default.asp">JavaScript [W3 Schools]</a></li>
                    <li><a href="https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/Your_first_WebExtension">Browser Extension tutorial</a></li>
                </ul>
            </div>
        </div>


    </td>
</tr>

<tr>
    <td width="10%">Friday, February 19</td>
    <td colspan="2">



        <div class="row">
            <div class="col-md-7">
                <h5 class="header">HTTP - Static Files, MIME Types, and Encodings</h5>
                 <a href="static_files/slides/2_3_Encodings.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive slide-icon"/></a>

            </div>
            <div class="col-md-5">
                <ul>
                    <li><a href="https://en.wikipedia.org/wiki/UTF-8">UTF-8 (Wikipedia)</a></li>
                    <li><a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types">MIME types</a></li>
                    <li><a href="https://www.iana.org/assignments/media-types/media-types.xhtml">Every MIME type</a></li>
                    <li><a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/X-Content-Type-Options">String MIME types</a></li>
                </ul>
            </div>
        </div>



    </td>
</tr>




<tr class="table-warning">
    <td colspan="3">Friday, February 19 @ 11:59pm
        <span class="float-right">HW1 Due</span>
    </td>
</tr>