

<tr>
    <td width="10%">Monday, March 30</td>
    <td colspan="2">
        <div class="row">
            <div class="col-md-7">
                <h5 class="header">Databases</h5>
{#                 <a href="static_files/cse116_slides/_____.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive slide-icon"/></a>#}

            </div>
            <div class="col-md-5">
                <ul>
{#                    <li><a href="_____">_____</a></li>#}
                </ul>
            </div>
        </div>
    </td>
</tr>


<tr>
    <td width="10%">Wednesday, April 1</td>
    <td colspan="2">
        <div class="row">
            <div class="col-md-7">
                <h5 class="header">Databases</h5>
{#                 <a href="static_files/cse116_slides/_____.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive slide-icon"/></a>#}

            </div>
            <div class="col-md-5">
                <ul>
{#                    <li><a href="_____">_____</a></li>#}
                </ul>
            </div>
        </div>
    </td>
</tr>

<tr>
    <td width="10%">Friday, April 3</td>
    <td colspan="2">
        <div class="row">
            <div class="col-md-7">
                <h5 class="header">Web App Architecture</h5>
{#                 <a href="static_files/cse116_slides/_____.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive slide-icon"/></a>#}

            </div>
            <div class="col-md-5">
                <ul>
{#                    <li><a href="_____">_____</a></li>#}
                </ul>
            </div>
        </div>
    </td>
</tr>

<tr class="table-warning">
    <td colspan="3">Friday, April 3 @ 11:59pm
        <span class="float-right">HW7 Due</span>
    </td>
</tr>