

<tr>
    <td width="10%">Monday, October 24</td>
    <td colspan="2">


        <div class="row">
            <div class="col-md-7">
                <h5 class="header">Examples and Architecture</h5>
                {#                 <a href="static_files/slides/_____.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive slide-icon"/></a>#}

            </div>
            <div class="col-md-5">
                <ul>
                </ul>
            </div>
        </div>


    </td>
</tr>

<tr>
    <td width="10%">Wednesday, October 26</td>
    <td colspan="2">



        <div class="row">
            <div class="col-md-7">
                <h5 class="header">Examples and Architecture</h5>
                {#                 <a href="static_files/slides/_____.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive slide-icon"/></a>#}

            </div>
            <div class="col-md-5">
                <ul>
                </ul>
            </div>
        </div>


    </td>
</tr>

<tr>
    <td width="10%">Friday, October 28</td>
    <td colspan="2">

        <div class="row">
            <div class="col-md-7">
                <h5 class="header">Examples and Architecture</h5>
                {#                 <a href="static_files/slides/_____.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive slide-icon"/></a>#}

            </div>
            <div class="col-md-5">
                <ul>
                </ul>
            </div>
        </div>


    </td>
</tr>

