
<tr>
    <td class="date">Monday<br/>April 24</td>
    <td>
        <h6 class="header">Deployment with docker-compose</h6>
        <ul class="reading">
        </ul>
    </td>
</tr>


<tr>
    <td class="date">Wednesday<br/>April 26</td>
    <td>
        <h6 class="header">Deployment with docker-compose</h6>
        <ul class="reading">
        </ul>
    </td>
</tr>


<tr class="table-warning">
    <td colspan="3">Wednesday, April 26 @ 11:59pm
        <span class="float-right">Deadline to
            <a href="https://calendly.com/hartloff/cse312-presentations">
                sign up for a presentation time
            </a>
        </span>
    </td>
</tr>



<tr>
    <td class="date">Friday<br/>April 28</td>
    <td>
        <h6 class="header">Deployment with docker-compose and certbot</h6>
        <ul class="reading">
        </ul>

    </td>
</tr>



