

<tr>
    <td width="10%">Monday, November 7</td>
    <td colspan="2">




        <div class="row">
            <div class="col-md-7">
                <h5 class="header">Cookies</h5>
                <a href="static_files/slides/5_1_Cookies.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive slide-icon"/></a>

            </div>
            <div class="col-md-5">
                <ul>
                    <li><a href="https://tools.ietf.org/html/rfc6265">RFC6265 - Cookies</a></li>
                    <li><a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Set-Cookie">Directives Overview</a></li>
                    <li><a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Date">Date Formatting</a></li>
                </ul>
            </div>
        </div>




    </td>
</tr>

<tr>
    <td width="10%">Wednesday, November 9</td>
    <td colspan="2">


        <div class="row">
            <div class="col-md-7">
                <h5 class="header">Authentication and Secure Password Storage</h5>
                <a href="static_files/slides/5_2_Authentication.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive slide-icon"/></a>

            </div>
            <div class="col-md-5">
                <ul>
                    <li><a href="https://en.wikipedia.org/wiki/Bcrypt">bcrypt (Wikipedia)</a></li>
                    {#                    <li><a href="_____">_____</a></li>#}
                </ul>
            </div>
        </div>



    </td>
</tr>

<tr>
    <td width="10%">Friday, November 11</td>
    <td colspan="2">


        <div class="row">
            <div class="col-md-7">
                <h5 class="header">Authentication Tokens and Sessions</h5>
                <a href="static_files/slides/5_3_Authentication_Tokens.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive slide-icon"/></a>

            </div>
            <div class="col-md-5">
                <ul>
                    {#                    <li><a href="_____">_____</a></li>#}
                </ul>
            </div>
        </div>



    </td>
</tr>

<tr class="table-warning">
    <td colspan="3">Friday, November 11 @ 11:59pm
        <span class="float-right">Team Project Reports Checkpoint</span>
    </td>
</tr>

