

<tr>
    <td width="10%">Monday, March 8</td>
    <td colspan="2">



        <div class="row">
            <div class="col-md-7">
                <h5 class="header">HTML Templates</h5>
                 <a href="static_files/slides/11_HTML_Templates.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive slide-icon"/></a>

            </div>
            <div class="col-md-5">
                <ul>
                    <li><a href="https://en.wikipedia.org/wiki/Web_template_system">Templating (Wikipedia)</a></li>
                </ul>
            </div>
        </div>



    </td>
</tr>

<tr>
    <td width="10%">Wednesday, March 10</td>
    <td colspan="2">



        <div class="row">
            <div class="col-md-7">
                <h5 class="header">AJAX</h5>
                 <a href="static_files/slides/12_AJAX.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive slide-icon"/></a>

            </div>
            <div class="col-md-5">
                <ul>
                    <li><a href="https://www.w3schools.com/xml/ajax_intro.asp">AJAX [W3 Schools]</a></li>
                </ul>
            </div>
        </div>


    </td>
</tr>

<tr>
    <td width="10%">Friday, March 12</td>
    <td colspan="2">


        <div class="row">
            <div class="col-md-7">
                <h5 class="header">Polling and Long-Polling</h5>
                 <a href="static_files/slides/13_Polling.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive slide-icon"/></a>

            </div>
            <div class="col-md-5">
                <ul>
{#                    <li><a href="_____">_____</a></li>#}
                </ul>
            </div>
        </div>


    </td>
</tr>

