
<tr>
    <td class="date">Monday<br/>January 30</td>
    <td>
        <h6 class="header">Course Introduction and TCP/IP -
            <a href="static_files/cse116_slides/1_1_TCPIP.pdf" target="_blank">Slides</a>
        </h6>
        <ul class="reading">
            <li><a href="https://en.wikipedia.org/wiki/Internet_Protocol">IP (Wikipedia)</a></li>
            <li><a href="https://en.wikipedia.org/wiki/Transmission_Control_Protocol">TCP (Wikipedia)</a></li>
        </ul>
    </td>
</tr>


<tr>
    <td class="date">Wednesday<br/>February 1</td>
    <td>
        <h6 class="header">HTTP Overview -
            <a href="static_files/cse116_slides/1_2_HTTP_Intro.pdf" target="_blank">Slides</a>
        </h6>
        <ul class="reading">
            <li><a href="https://en.wikipedia.org/wiki/Hypertext_Transfer_Protocol">HTTP (Wikipedia)</a></li>
            <li><a href="https://tools.ietf.org/html/rfc2616">RFC2616 - HTTP 1.1</a></li>
        </ul>
    </td>
</tr>


<tr>
    <td class="date">Friday<br/>February 3</td>
    <td>
        <h6 class="header">HTTP Request/Response -
            <a href="static_files/cse116_slides/1_3_HTTP_Request_Response.pdf" target="_blank">Slides</a>
        </h6>
        <ul class="reading">

        </ul>
    </td>
</tr>
