
<tr>
    <td width="10%">Monday, April 27</td>
    <td colspan="2">
        <div class="row">
            <div class="col-md-7">
                <h5 class="header">Streaming</h5>
{#                 <a href="static_files/slides/_____.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive slide-icon"/></a>#}

            </div>
            <div class="col-md-5">
                <ul>
{#                    <li><a href="_____">_____</a></li>#}
                </ul>
            </div>
        </div>
    </td>
</tr>


<tr>
    <td width="10%">Wednesday, April 29</td>
    <td colspan="2">
        <div class="row">
            <div class="col-md-7">
                <h5 class="header">Streaming</h5>
{#                 <a href="static_files/slides/_____.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive slide-icon"/></a>#}

            </div>
            <div class="col-md-5">
                <ul>
{#                    <li><a href="_____">_____</a></li>#}
                </ul>
            </div>
        </div>
    </td>
</tr>



<tr>
    <td width="10%">Friday, May 1</td>
    <td colspan="2">
        <div class="row">
            <div class="col-md-7">
                <h5 class="header">Streaming</h5>
{#                 <a href="static_files/slides/_____.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive slide-icon"/></a>#}

            </div>
            <div class="col-md-5">
                <ul>
{#                    <li><a href="_____">_____</a></li>#}
                </ul>
            </div>
        </div>
    </td>
</tr>


<tr class="table-warning">
    <td colspan="3">Friday, May 1 @ 11:59pm
        <span class="float-right">Project Phase 3 Due</span>
    </td>
</tr>