
<tr class="table-warning">
    <td colspan="3">Monday, May 1 @ 9:00am
        <span class="float-right">HW4 Learning Objective Expected Deadline</span>
    </td>
</tr>


<tr>
    <td class="date">Monday<br/>May 1</td>
    <td>
        <h6 class="header">Review</h6>
        <ul class="reading">
{#            <li class="reading"><a href=""></a></li>#}
        </ul>
    </td>
</tr>


<tr>
    <td class="date">Wednesday<br/>May 3</td>
    <td>
        <h6 class="header">Review</h6>
        <ul class="reading">
{#            <li class="reading"><a href=""></a></li>#}
        </ul>
    </td>
</tr>


<tr>
    <td class="date">Friday<br/>May 5</td>
    <td>
        <h6 class="header">Review</h6>
        <ul class="reading">
{#            <li class="reading"><a href=""></a></li>#}
        </ul>
    </td>
</tr>
