

<tr class="table-danger">
    <td colspan="3">Monday, May 8 @ 9:00am
        <span class="float-right">HW4 Actual Deadline</span>
    </td>
</tr>



<tr>
    <td class="date">Monday<br/>May 8</td>
    <td>
        <h6 class="header">Project Presentations</h6>
        <ul class="reading">
            <li>Excalibur</li>
            <li>Seg Fault</li>
            <li>Awesome</li>
            <li>yoube</li>
        </ul>

    </td>
</tr>

<tr>
    <td class="date">Wednesday<br/>May 10</td>
    <td>
        <h6 class="header">Project Presentations</h6>
        <ul class="reading">
            <li>last minute grinder</li>
            <li>AnythingIsGood</li>
            <li>Jesse's Fan Club</li>
            <li>BecauseTheInternet</li>
        </ul>
    </td>
</tr>


<tr>
    <td class="date">Friday<br/>May 12</td>
    <td>
        <h6 class="header">Project Presentations</h6>
        <ul class="reading">
            <li>Object Object</li>
            <li>Serge</li>
            <li>27 Application Objectives</li>
            <li>Byte Bandits</li>
        </ul>
    </td>
</tr>


<tr class="table-danger">
    <td colspan="3">Friday, May 12 @ 11:59pm
        <span class="float-right">Project Deadline</span>
    </td>
</tr>

<tr>
    <td class="date">Friday<br/>May 19</td>
    <td>
        <h6 class="header">Project Presentations</h6>
        <ul class="reading">
            <li>404 Not Found</li>
            <li>Sebastian's Angels</li>
            <li>Geese Gang</li>
            <li>CabinFever</li>
            <li>still up for debate / random1</li>
            <li>Code Monkeys</li>
            <li>HighFive</li>
            <li>Team Reader</li>
            <li>random2</li>
            <li>Scammers</li>
        </ul>
    </td>
</tr>
