

<tr>
    <td width="10%">Monday, April 25</td>
    <td colspan="2">



        <div class="row">
            <div class="col-md-7">
                <h5 class="header">TBD</h5>
                {#                 <a href="static_files/slides/_____.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive slide-icon"/></a>#}

            </div>
            <div class="col-md-5">
                <ul>
                </ul>
            </div>
        </div>



    </td>
</tr>

<tr>
    <td width="10%">Wednesday, April 27</td>
    <td colspan="2">



        <div class="row">
            <div class="col-md-7">
                <h5 class="header">TBD</h5>
                {#                 <a href="static_files/slides/_____.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive slide-icon"/></a>#}

            </div>
            <div class="col-md-5">
                <ul>
                </ul>
            </div>
        </div>



    </td>
</tr>


<tr>
    <td width="10%">Friday, April 29</td>
    <td colspan="2">


        <div class="row">
            <div class="col-md-7">
                <h5 class="header">TBD</h5>
                {#                 <a href="static_files/slides/_____.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive slide-icon"/></a>#}

            </div>
            <div class="col-md-5">
                <ul>
                </ul>
            </div>
        </div>
        
    </td>
</tr>
