

<tr>
    <td width="10%">Monday, April 26</td>
    <td colspan="2">



        <div class="row">
            <div class="col-md-7">
                <h5 class="header">HTTPS</h5>
                 <a href="static_files/slides/23_Encryption3.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive slide-icon"/></a>

            </div>
            <div class="col-md-5">
                <ul>
                    <li><a href="https://www.openssl.org/">OpenSSL</a></li>
                    <li>Note: The docs below might help you get started, but you can use other approaches for these languages if your prefer them</li>
                    <li><a href="https://nodejs.org/api/tls.html#tls_tls_ssl">Node SSL Docs</a></li>
                    <li><a href="https://docs.python.org/3/library/ssl.html">Python SSL Docs</a></li>
                    <li><a href="https://docs.oracle.com/javase/7/docs/api/javax/net/ssl/SSLSocket.html">Java SSL Docs</a></li>
                </ul>
            </div>
        </div>



    </td>
</tr>

<tr>
    <td width="10%">Wednesday, April 28</td>
    <td colspan="2">


        <div class="row">
            <div class="col-md-7">
                <h5 class="header">Web App Architecture and Examples</h5>

            </div>
            <div class="col-md-5">
                <ul>
                </ul>
            </div>
        </div>



    </td>
</tr>

<tr>
    <td width="10%">Friday, April 30</td>
    <td colspan="2">


        <div class="row">
            <div class="col-md-7">
                <h5 class="header">Web App Architecture and Examples</h5>

            </div>
            <div class="col-md-5">
                <ul>
                </ul>
            </div>
        </div>



    </td>
</tr>

