
<tr>
    <td width="10%">Monday, February 17</td>
    <td colspan="2">
        <div class="row">
            <div class="col-md-7">
                <h5 class="header">HTTP POST and Forms</h5>
{#                 <a href="static_files/slides/_____.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive slide-icon"/></a>#}

            </div>
            <div class="col-md-5">
                <ul>
{#                    <li><a href="_____">_____ DONT FORGET TO SETUP PROJECT STUFF FOR TEAM FORMATION!!! ____</a></li>#}
                </ul>
            </div>
        </div>
    </td>
</tr>


<tr>
    <td width="10%">Wednesday, February 19</td>
    <td colspan="2">
        <div class="row">
            <div class="col-md-7">
                <h5 class="header">HTTP POST and Forms and File Uploads</h5>
{#                 <a href="static_files/slides/_____.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive slide-icon"/></a>#}

            </div>
            <div class="col-md-5">
                <ul>
{#                    <li><a href="_____">_____</a></li>#}
                </ul>
            </div>
        </div>
    </td>
</tr>



<tr>
    <td width="10%">Friday, February 21</td>
    <td colspan="2">
        <div class="row">
            <div class="col-md-7">
                <h5 class="header">HTML Templates</h5>
{#                 <a href="static_files/slides/_____.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive slide-icon"/></a>#}

            </div>
            <div class="col-md-5">
                <ul>
{#                    <li><a href="_____">_____</a></li>#}
                </ul>
            </div>
        </div>
    </td>
</tr>


<tr class="table-warning">
    <td colspan="3">Friday, February 21 @ 10:50am
        <span class="float-right">Team Formation Deadline / Official Meetings Start Next Week</span>
    </td>
</tr>


<tr class="table-warning">
    <td colspan="3">Friday, February 21 @ 11:59pm
        <span class="float-right">HW3 Due</span>
    </td>
</tr>