

<tr>
    <td width="10%">Monday, November 8</td>
    <td colspan="2">


        <div class="row">
            <div class="col-md-7">
                <h5 class="header">Authentication Continued</h5>
                {#                 <a href="static_files/slides/29_Authentication.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive slide-icon"/></a>#}

            </div>
            <div class="col-md-5">
                <ul>
                    {#                    <li><a href="_____">_____</a></li>#}
                </ul>
            </div>
        </div>


    </td>
</tr>

<tr>
    <td width="10%">Wednesday, November 10</td>
    <td colspan="2">


        <div class="row">
            <div class="col-md-7">
                <h5 class="header">Authentication Examples</h5>
                {#                 <a href="static_files/slides/29_Authentication.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive slide-icon"/></a>#}

            </div>
            <div class="col-md-5">
                <ul>
                    {#                    <li><a href="_____">_____</a></li>#}
                </ul>
            </div>
        </div>

    </td>
</tr>

<tr>
    <td width="10%">Friday, November 12</td>
    <td colspan="2">




        <div class="row">
            <div class="col-md-7">
                <h5 class="header">Encryption</h5>
                <a href="static_files/slides/21_Encryption.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive slide-icon"/></a>

            </div>
            <div class="col-md-5">
                <ul>
                    <li><a href="https://en.wikipedia.org/wiki/RSA_(cryptosystem)">RSA (Wikipedia)</a></li>
                    <li><a href="https://en.wikipedia.org/wiki/Certificate_authority">CAs (Wikipedia)</a></li>
                </ul>
            </div>
        </div>


    </td>
</tr>

