

<tr class="table-info">
    <td colspan="3">Monday, September 25 @ 9:00 <b>AM</b><br/>
        Project Part 1 Deadline
    </td>
</tr>


<tr>
    <td class="date">Monday<br/>September 25</td>
    <td>
        <h6 class="header">Authentication and Secure Password Storage -
           <a href="static_files/slides/2_4_Authentication.pdf" target="_blank">Slides</a>
<!--            Slides-->
        </h6>
        <ul class="reading">
            <li><a href="https://en.wikipedia.org/wiki/Bcrypt">bcrypt (Wikipedia)</a></li>
        </ul>
    </td>
</tr>


<tr>
    <td class="date">Wednesday<br/>September 27</td>
    <td>
        <h6 class="header">Authentication Tokens and Sessions -
            <a href="static_files/slides/2_5_Authentication_Tokens.pdf" target="_blank">Slides</a>
        </h6>
        <ul class="reading">
            {#                    <li><a href="_____">_____</a></li>#}
        </ul>
    </td>
</tr>


<tr>
    <td class="date">Friday<br/>September 29</td>
    <td>
        <h6 class="header">CRUD and REST API -
            <a href="static_files/slides/2_6_API.pdf" target="_blank">Slides</a>
        </h6>
        <ul>
        </ul>
    </td>
</tr>

