<tr>
    <td width="10%">Monday, March 15</td>
    <td colspan="2">


        <div class="row">
            <div class="col-md-7">
                <h5 class="header">Review [Optional]</h5>

            </div>
            <div class="col-md-5">
                <ul>
                    <li>Maintain your mental health</li>
                </ul>
            </div>
        </div>


    </td>
</tr>

<tr>
    <td width="10%">Wednesday, March 17</td>
    <td colspan="2">

        <div class="row">
            <div class="col-md-7">
                <h5 class="header">Review [Optional]</h5>

            </div>
            <div class="col-md-5">
                <ul>
                    <li>Maintain your mental health</li>
                </ul>
            </div>
        </div>

    </td>
</tr>

<tr>
    <td width="10%">Friday, March 19</td>
    <td colspan="2">

        <div class="row">
            <div class="col-md-7">
                <h5 class="header">Review [Optional]</h5>

            </div>
            <div class="col-md-5">
                <ul>
                    <li>Maintain your mental health</li>
                </ul>
            </div>
        </div>

    </td>
</tr>

