

<tr>
    <td width="10%">Monday, March 8</td>
    <td colspan="2">


        <div class="row">
            <div class="col-md-7">
                <h5 class="header">Buffers</h5>
                <a href="static_files/slides/3_4_Buffers.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive slide-icon"/></a>

            </div>
            <div class="col-md-5">
                <ul>
{#                    <li><a href="_____">_____</a></li>#}
                </ul>
            </div>
        </div>



    </td>
</tr>

<tr>
    <td width="10%">Wednesday, March 10</td>
    <td colspan="2">


        <div class="row">
            <div class="col-md-7">
                <h5 class="header">AJAX and Polling</h5>

                 <a href="static_files/slides/12_AJAX.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive slide-icon"/></a>
                 <a href="static_files/slides/13_Polling.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive slide-icon"/></a>

            </div>
            <div class="col-md-5">
                <ul>
                    <li><a href="https://www.w3schools.com/xml/ajax_intro.asp">AJAX [W3 Schools]</a></li>
                </ul>
            </div>
        </div>



    </td>
</tr>

<tr>
    <td width="10%">Friday, March 12</td>
    <td colspan="2">




        <div class="row">
            <div class="col-md-7">
                <h5 class="header">XSRF</h5>
{#<a href="static_files/slides/13_Polling.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive slide-icon"/></a>#}

            </div>
            <div class="col-md-5">
                <ul>
                </ul>
            </div>
        </div>



    </td>
</tr>

