
<tr class="table-info">
    <td colspan="3">Monday, November 6 @ 9:00 <b>AM</b><br/>
        Homework 3: Expected Deadline
    </td>
</tr>

<tr>
    <td class="date">Monday<br/>November 6</td>
    <td>
        <h6 class="header">Encryption -
            <a href="static_files/slides/21_Encryption.pdf" target="_blank">Slides</a>
        </h6>
        <ul class="reading">
            <li><a href="https://en.wikipedia.org/wiki/RSA_(cryptosystem)">RSA (Wikipedia)</a></li>
            <li><a href="https://en.wikipedia.org/wiki/Certificate_authority">CAs (Wikipedia)</a></li>
        </ul>
    </td>
</tr>


<tr>
    <td class="date">Wednesday<br/>November 8</td>
    <td>
        <h6 class="header">HTTPS -
            <a href="static_files/slides/22_Encryption2.pdf" target="_blank">Slides</a>
        </h6>
        <ul class="reading">
            <li><a href="https://tools.ietf.org/html/rfc5246">RFC 5246 - TLS 1.2</a></li>
            <li><a href="https://tools.ietf.org/html/rfc8446">RFC 8446 - TLS 1.3</a></li>
            <li><a href="https://tls.ulfheim.net/">TLS 1.2 Example</a></li>
            <li><a href="https://en.wikipedia.org/wiki/Diffie–Hellman_key_exchange">Diffie-Hellman Key Exchange (Wikipedia)</a></li>
            <li><a href="https://en.wikipedia.org/wiki/Advanced_Encryption_Standard">AES (Wikipedia)</a></li>
        </ul>
    </td>
</tr>




<tr>
    <td class="date">Friday<br/>November 10</td>
    <td>
        <h6 class="header">Deployment and Reverse Proxy Servers
<!--            <a href="static_files/slides/15_Web_Frameworks.pdf" target="_blank">Slides</a>-->
        </h6>
        <ul class="reading">
        </ul>
    </td>
</tr>
