
<tr class="table-warning">
    <td colspan="3">Monday, November 27 @ 9:00 <b>AM</b><br/>
        Homework 3: Late Deadline
    </td>
</tr>
<tr class="table-info">
    <td colspan="3">Monday, November 27 @ 9:00 <b>AM</b><br/>
        Homework 4: Expected Deadline
    </td>
</tr>

<tr>
    <td class="date">Monday<br/>November 27</td>
    <td>
        <h6 class="header">DoS and DDoS
            <a href="static_files/slides/4_7_DoS.pdf" target="_blank">Slides</a>
        </h6>
        <ul class="reading">
{#            <li><a href="https://en.wikipedia.org/wiki/Internet_Protocol">IP (Wikipedia)</a></li>#}
{#            <li><a href="https://en.wikipedia.org/wiki/Transmission_Control_Protocol">TCP (Wikipedia)</a></li>#}
        </ul>
    </td>
</tr>

<tr>
    <td class="date">Wednesday<br/>November 29</td>
    <td>
        <h6 class="header">Payments
{#            <a href="static_files/slides/1_1_TCPIP.pdf" target="_blank">Slides</a>#}
        </h6>
        <ul class="reading">
{#            <li><a href="https://en.wikipedia.org/wiki/Internet_Protocol">IP (Wikipedia)</a></li>#}
{#            <li><a href="https://en.wikipedia.org/wiki/Transmission_Control_Protocol">TCP (Wikipedia)</a></li>#}
        </ul>
    </td>
</tr>


<tr>
    <td class="date">Friday<br/>December 1</td>
    <td>
        <h6 class="header">Architecture (API vs. HTML Templates)
{#            <a href="static_files/slides/1_1_TCPIP.pdf" target="_blank">Slides</a>#}
        </h6>
        <ul class="reading">
{#            <li><a href="https://en.wikipedia.org/wiki/Internet_Protocol">IP (Wikipedia)</a></li>#}
{#            <li><a href="https://en.wikipedia.org/wiki/Transmission_Control_Protocol">TCP (Wikipedia)</a></li>#}
        </ul>
    </td>
</tr>
