

<tr class="table-warning">
    <td colspan="3">Monday, March 13 @ 9:00am
        <span class="float-right">HW2 Learning Objective Expected Deadline</span>
    </td>
</tr>

<tr>
    <td class="date">Monday<br/>March 13</td>
    <td>
        <h6 class="header">WebSocket Handshake -
            <a href="static_files/slides/4_1_WebSocket_Handshake.pdf" target="_blank">Slides</a>
        </h6>
        <ul class="reading">
            <li><a href="https://tools.ietf.org/html/rfc6455">RFC 6455</a></li>
            <li><a href="https://developer.mozilla.org/en-US/docs/Web/API/WebSockets_API">WebSocket Documentation and Examples</a></li>
        </ul>
    </td>
</tr>


<tr>
    <td class="date">Wednesday<br/>March 15</td>
    <td>
        <h6 class="header">WebSocket Frames -
            <a href="static_files/slides/4_2_WebSocket_Frames.pdf" target="_blank">Slides</a>
        </h6>
        <ul class="reading">
            {#                    <li><a href="_____">_____</a></li>#}
        </ul>
    </td>
</tr>


<tr>
    <td class="date">Friday<br/>March 17</td>
    <td>
        <h6 class="header">WebSocket Examples</h6>
        <ul class="reading">
            {#                    <li><a href="_____">_____</a></li>#}
        </ul>

    </td>
</tr>
