

<tr>
    <td width="10%">Monday, February 22</td>
    <td colspan="2">


        <div class="row">
            <div class="col-md-7">
                <h5 class="header">HTTP - Encodings and serving files</h5>
{#                 <a href="static_files/slides/6_Encodings.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive slide-icon"/></a>#}

            </div>
            <div class="col-md-5">
                <ul>
                </ul>
            </div>
        </div>



    </td>
</tr>

<tr>
    <td width="10%">Wednesday, February 24</td>
    <td colspan="2">





        <div class="row">
            <div class="col-md-7">
                <h5 class="header">Query Strings</h5>
                 <a href="static_files/slides/8_Query_Strings.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive slide-icon"/></a>

            </div>
            <div class="col-md-5">
                <ul>
                    <li><a href="https://en.wikipedia.org/wiki/Query_string">Query Strings (Wikipedia)</a></li>
                </ul>
            </div>
        </div>


    </td>
</tr>

<tr>
    <td width="10%">Friday, February 26</td>
    <td colspan="2">



        <div class="row">
            <div class="col-md-7">
                <h5 class="header">HTTP - Examples</h5>
{#                 <a href="static_files/slides/6_Encodings.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive slide-icon"/></a>#}

            </div>
            <div class="col-md-5">
                <ul>
                </ul>
            </div>
        </div>
    </td>
</tr>

