<tr>
    <td width="5%">Monday, August 29</td>
    <td colspan="2">

        <div class="row">
            <div class="col-md-7">
                <h5 class="header">Course Introduction and TCP/IP</h5>
                <a href="static_files/slides/1_1_TCPIP.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive slide-icon"/></a> <-- Slides

            </div>
            <div class="col-md-5">
                <ul>
                    <li><a href="https://en.wikipedia.org/wiki/Internet_Protocol">IP (Wikipedia)</a></li>
                    <li><a href="https://en.wikipedia.org/wiki/Transmission_Control_Protocol">TCP (Wikipedia)</a></li>
                </ul>
            </div>
        </div>

    </td>
</tr>


<tr>
    <td width="10%">Wednesday, August 31
    </td>
    <td colspan="2">

        <div class="row">
            <div class="col-md-7">
                <h5 class="header">HTTP Overview</h5>
                <a href="static_files/slides/1_2_HTTP_Intro.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive slide-icon"/></a>

            </div>
            <div class="col-md-5">
                <ul>
                    <li><a href="https://en.wikipedia.org/wiki/Hypertext_Transfer_Protocol">HTTP (Wikipedia)</a></li>
                    <li><a href="https://tools.ietf.org/html/rfc2616">RFC2610 - HTTP 1.1</a></li>

                    {#                    <li><a href="_____">_____</a></li>#}
                </ul>
            </div>
        </div>

    </td>
</tr>

<tr>
    <td width="10%">Friday, September 2</td>
    <td colspan="2">

        <div class="row">
            <div class="col-md-7">
                <h5 class="header">HTTP Request/Response</h5>
                <a href="static_files/slides/1_3_HTTP_Request_Response.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive slide-icon"/></a>

            </div>
            <div class="col-md-5">
                <ul>
                    {#                    <li><a href="_____">_____</a></li>#}
                </ul>
            </div>
        </div>

    </td>
</tr>


