

<tr class="table-danger">
    <td colspan="3">Monday, March 27 @ 9:00am
        <span class="float-right">HW2 Deadline</span>
    </td>
</tr>


<tr>
    <td class="date">Monday<br/>March 27</td>
    <td>
        <h6 class="header">WebRTC Overview -
            <a href="static_files/slides/4_3_WebRTC.pdf" target="_blank">Slides</a>
        </h6>
        <ul class="reading">
        </ul>
    </td>
</tr>


<tr>
    <td class="date">Wednesday<br/>March 29</td>
    <td>
        <h6 class="header">WebRTC Details -
            <a href="static_files/slides/4_4_WebRTC_2.pdf" target="_blank">Slides</a>
        </h6>
        <ul class="reading">
        </ul>
    </td>
</tr>


<tr>
    <td class="date">Friday<br/>March 31</td>
    <td>
        <h6 class="header">WebRTC Demos</h6>
        <ul class="reading">
        </ul>
    </td>
</tr>

