

<tr class="table-warning">
    <td colspan="3">Monday, December 5 @ 9:00am
        <span class="float-right">HW4 Due</span>
    </td>
</tr>


<tr>
    <td width="10%">Monday, December 5</td>
    <td colspan="2">


        <h5>Project Presentations</h5>
        <ul>
            <li>Web Wizards.</li>
            <li>10 out of 10</li>
            <li>MYPT</li>
            <li>Nautical Nonsense</li>
        </ul>

    </td>
</tr>

<tr>
    <td width="10%">Wednesday, December 7</td>
    <td colspan="2">


        <h5>Project Presentations</h5>
        <ul>
            <li>;DROP TABLE Groups;</li>
            <li>Byte Crunchers</li>
            <li>OneBeltOneRoad</li>
            <li>MuggleMuggle</li>
        </ul>

    </td>
</tr>

<tr>
    <td width="10%">Friday, December 9</td>
    <td colspan="2">



        <h5>Project Presentations</h5>
        <ul>
            <li>Team 12</li>
            <li>Le epic hax0rs</li>
            <li>import length</li>
            <li>5bytes</li>
        </ul>

    </td>
</tr>



<tr class="table-warning">
    <td colspan="3">Friday, December 9 @ 11:59pm
        <span class="float-right">Project Deadline</span>
    </td>
</tr>


<tr>
    <td width="10%">Wednesday, December 14</td>
    <td colspan="2">



        <h5>Project Presentations @ 3:30PM - 6:30PM in NSC 225</h5>
        <ul>
            <li>404</li>
            <li>The Hooligans</li>
            <li>rand6</li>
            <li>The Wily 5</li>
            <li>AI Jesse</li>
            <li>NFTY</li>
            <li>eSlay</li>
            <li>Programming Squad</li>
            <li>theCoders</li>
            <li>Steins;Gate</li>
            <li></li>
            <li></li>
        </ul>

    </td>
</tr>

