

<tr>
    <td class="date">Monday<br/>March 6</td>
    <td>
        <h6 class="header">XSRF -
            <a href="static_files/slides/3_6_XSRF.pdf" target="_blank">Slides</a>
        </h6>
        <ul class="reading">
        </ul>
    </td>
</tr>




<tr>
    <td class="date">Wednesday<br/>March 8</td>
    <td>
        <h6 class="header">Browser Extensions</h6>
        <ul class="reading">
            <li><a href="https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/Your_first_WebExtension">Browser Extension tutorial</a></li>
        </ul>

    </td>
</tr>


<tr>
    <td class="date">Friday<br/>March 10</td>
    <td>
        <h6 class="header">AJAX and Polling -
            <a href="static_files/slides/3_5_AJAX_Polling.pdf" target="_blank">Slides</a>
        </h6>
        <ul class="reading">
            <li><a href="https://www.w3schools.com/xml/ajax_intro.asp">AJAX [W3 Schools]</a></li>
        </ul>
    </td>
</tr>

