

<tr class="table-warning">
    <td colspan="3">Monday, October 24 @ 9:00am
        <span class="float-right">HW2 Due</span>
    </td>
</tr>

<tr>
    <td width="10%">Monday, October 24</td>
    <td colspan="2">


        <div class="row">
            <div class="col-md-7">
                <h5 class="header">WebRTC Overview</h5>
                <a href="static_files/slides/4_3_WebRTC.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive slide-icon"/></a>

            </div>
            <div class="col-md-5">
                <ul>
                </ul>
            </div>
        </div>

    </td>
</tr>

<tr>
    <td width="10%">Wednesday, October 26</td>
    <td colspan="2">


        <div class="row">
            <div class="col-md-7">
                <h5 class="header">WebRTC Details</h5>
                <a href="static_files/slides/4_4_WebRTC_2.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive slide-icon"/></a>

            </div>
            <div class="col-md-5">
                <ul>
                </ul>
            </div>
        </div>



    </td>
</tr>

<tr>
    <td width="10%">Friday, October 28</td>
    <td colspan="2">


        <div class="row">
            <div class="col-md-7">
                <h5 class="header">WebRTC Demos</h5>
                {#                 <a href="static_files/slides/_____.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive slide-icon"/></a>#}

            </div>
            <div class="col-md-5">
                <ul>
                </ul>
            </div>
        </div>


    </td>
</tr>

