
<tr class="table-info">
    <td colspan="3">Monday, September 18 @ 9:00 <b>AM</b><br/>
        Homework 1: Expected Deadline
    </td>
</tr>


<tr>
    <td class="date">Monday<br/>September 18</td>
    <td>
        <h6 class="header">Front End Development - HTML/CSS + JavaScript -
            <a href="static_files/slides/2_1_Front_End.pdf" target="_blank">Slides</a>
        </h6>
        <ul class="reading">
            <li><a href="https://www.w3schools.com/html/default.asp">HTML [W3 Schools]</a></li>
            <li><a href="https://www.w3schools.com/css/default.asp">CSS [W3 Schools]</a></li>
            <li><a href="https://www.w3schools.com/js/default.asp">JavaScript [W3 Schools]</a></li>
        </ul>

    </td>
</tr>



<tr>
    <td class="date">Wednesday<br/>September 20</td>
    <td>
        <h6 class="header">HTTP POST, Forms, and AJAX -
            <a href="static_files/slides/2_2_POST_Forms.pdf" target="_blank">Slides</a>
        </h6>
        <ul class="reading">
                    <li><a href="https://www.w3schools.com/html/html_forms.asp">HTML Forms [W3 Schools]</a></li>
            <li><a href="https://www.w3schools.com/xml/ajax_intro.asp">AJAX [W3 Schools]</a></li>
            <li><a href="https://en.wikipedia.org/wiki/Query_string">Query Strings (Wikipedia)</a></li>
                </ul>


    </td>
</tr>


<tr>
    <td class="date">Friday<br/>September 22</td>
    <td>
        <h6 class="header">Databases and HTML Templates -
            <a href="static_files/slides/2_4_HTML_Templates.pdf" target="_blank">Slides</a>
        </h6>
        <ul class="reading">
            <li><a href="https://en.wikipedia.org/wiki/Web_template_system">Templating (Wikipedia)</a></li>
        </ul>
    </td>
</tr>




