

<tr>
    <td width="10%">Monday, March 23</td>
    <td colspan="2">
        <div class="row">
            <div class="col-md-7">
                <h5 class="header">Encryption</h5>
{#                 <a href="static_files/cse116_slides/_____.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive slide-icon"/></a>#}

            </div>
            <div class="col-md-5">
                <ul>
{#                    <li><a href="_____">_____</a></li>#}
                </ul>
            </div>
        </div>
    </td>
</tr>



<tr>
    <td width="10%">Wednesday, March 25</td>
    <td colspan="2">
        <div class="row">
            <div class="col-md-7">
                <h5 class="header">HTTPS</h5>
{#                 <a href="static_files/cse116_slides/_____.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive slide-icon"/></a>#}

            </div>
            <div class="col-md-5">
                <ul>
{#                    <li><a href="_____">_____</a></li>#}
                </ul>
            </div>
        </div>
    </td>
</tr>




<tr>
    <td width="10%">Friday, March 27</td>
    <td colspan="2">
        <div class="row">
            <div class="col-md-7">
                <h5 class="header">HTTPS</h5>
{#                 <a href="static_files/cse116_slides/_____.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive slide-icon"/></a>#}

            </div>
            <div class="col-md-5">
                <ul>
{#                    <li><a href="_____">_____</a></li>#}
                </ul>
            </div>
        </div>
    </td>
</tr>

<tr class="table-warning">
    <td colspan="3">Friday, March 27 @ 11:59pm
        <span class="float-right">HW6 Due</span>
    </td>
</tr>