

<tr>
    <td width="10%">Monday, February 8</td>
    <td colspan="2">




        <div class="row">
            <div class="col-md-7">
                <h5 class="header">HTTP Response/Request</h5>
                 <a href="static_files/slides/1_3_HTTP_Request_Response.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive slide-icon"/></a>

            </div>
            <div class="col-md-5">
                <ul>
{#                    <li><a href="_____">_____</a></li>#}
                </ul>
            </div>
        </div>


    </td>
</tr>

<tr>
    <td width="10%">Wednesday, February 10</td>
    <td colspan="2">


        <div class="row">
            <div class="col-md-7">
                <h5 class="header">Docker</h5>
                 <a href="static_files/slides/16_Docker.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive slide-icon"/></a>

            </div>
            <div class="col-md-5">
                <ul>
                    <li><a href="https://www.docker.com/">Docker</a></li>
                    <li><a href="https://docs.docker.com/get-started/">Docker - Getting Started</a></li>
                </ul>
            </div>
        </div>


    </td>
</tr>

<tr>
    <td width="10%">Friday, February 12</td>
    <td colspan="2">


        <div class="row">
            <div class="col-md-7">
                <h5 class="header">Docker and HTTP Examples</h5>
{#                 <a href="static_files/slides/5_HTTP_Request_Response.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive slide-icon"/></a>#}

            </div>
            <div class="col-md-5">
                <ul>
{#                    <li><a href="_____">_____</a></li>#}
                </ul>
            </div>
        </div>


    </td>
</tr>




<tr class="table-warning">
    <td colspan="3">Friday, February 12
        <span class="float-right"><a href="https://docs.google.com/forms/d/e/1FAIpQLSff1wn7n2Np6JEWAN8K7q37Jlt7VCpgAjVSg-K0Z3P1QXdzag/viewform?usp=sf_link">Team Formation</a> Due</span>
    </td>
</tr>


