

<tr>
    <td class="date">Monday<br/>September 4</td>
    <td>
        <h6 class="header">No Class</h6>
        <ul class="reading">
{#            <li class="reading"><a href=""></a></li>#}
        </ul>
    </td>
</tr>


<tr>
    <td class="date">Wednesday<br/>September 6</td>
    <td>
        <h6 class="header">HTTP - Static Files, MIME Types, and Encodings -
            <a href="static_files/slides/1_3_Encodings.pdf" target="_blank">Slides</a>
        </h6>
        <ul class="reading">
            <li><a href="https://en.wikipedia.org/wiki/UTF-8">UTF-8 (Wikipedia)</a></li>
            <li><a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types">MIME types</a></li>
            <li><a href="https://www.iana.org/assignments/media-types/media-types.xhtml">Every MIME type</a></li>
            <li><a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/X-Content-Type-Options">String MIME types</a></li>        </ul>
    </td>
</tr>


<tr>
    <td class="date">Friday<br/>September 8</td>
    <td>
        <h6 class="header">Cookies -
            <a href="static_files/slides/5_1_Cookies.pdf" target="_blank">Slides</a>
        </h6>
        <ul class="reading">
            <li><a href="https://tools.ietf.org/html/rfc6265">RFC6265 - Cookies</a></li>
            <li><a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Set-Cookie">Directives Overview</a></li>
            <li><a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Date">Date Formatting</a></li>
        </ul>
    </td>
</tr>


