
<tr class="table-info">
    <td colspan="3">Monday, November 13 @ 9:00 <b>AM</b><br/>
        Project Part 3 Deadline
    </td>
</tr>


<tr>
    <td class="date">Monday<br/>November 13</td>
    <td>
        <h6 class="header">OAuth 2.0 -
            <a href="static_files/slides/4_4_OAuth.pdf" target="_blank">Slides</a></h6>
        <ul class="reading">
            <li><a href="https://datatracker.ietf.org/doc/html/rfc6749">RFC 6749 - OAuth 2.0</a></li>
            <li><a href="https://datatracker.ietf.org/doc/html/rfc6750">RFC 6750 - OAuth 2.0 Tokens</a></li>
        </ul>
    </td>
</tr>


<tr>
    <td class="date">Wednesday<br/>November 15</td>
    <td>
        <h6 class="header">Email</h6>
        <ul class="reading">
        </ul>
    </td>
</tr>



<tr>
    <td class="date">Friday<br/>November 17</td>
    <td>
        <h6 class="header">Automated Clients</h6>
        <ul class="reading">
        </ul>

    </td>
</tr>



