

<tr>
    <td width="10%">Monday, November 1</td>
    <td colspan="2">


        <div class="row">
            <div class="col-md-7">
                <h5 class="header">Mental Health Break / Office Hours</h5>
            </div>
        </div>



    </td>
</tr>

<tr>
    <td width="10%">Wednesday, November 3</td>
    <td colspan="2">




        <div class="row">
            <div class="col-md-7">
                <h5 class="header">Mental Health Break / Office Hours</h5>
            </div>
        </div>





    </td>
</tr>

<tr>
    <td width="10%">Friday, November 5</td>
    <td colspan="2">



        <div class="row">
            <div class="col-md-7">
                <h5 class="header">Mental Health Break / Office Hours</h5>
            </div>
        </div>




    </td>
</tr>

<tr class="table-warning">
    <td colspan="3">Friday, November 5 @ 11:59pm
        <span class="float-right">HW3 Due</span>
    </td>
</tr>

