

<tr class="table-info">
    <td colspan="3">Monday, December 4 @ 9:00 <b>AM</b><br/>
        Project Part 4 Deadline
    </td>
</tr>


<tr>
    <td class="date">Monday<br/>December 4</td>

    <td>
        <h6 class="header">Review</h6>
        <ul class="reading">
        </ul>
    </td>

</tr>


<tr>
    <td class="date">Wednesday<br/>December 6</td>
    <td>
        <h6 class="header">Project Presentations -
                        <a href="https://docs.google.com/document/d/1du3sHQnXewqv5ysWOxsCG0A9ouhVqICrWe4R-CKlahs/edit?usp=sharing" target="_blank">Requirements</a></h6>
        <ul class="reading">
            <li>Good Question</li>
            <li>Jesse's Beard</li>
            <li>The Spider Webs</li>
            <li>Back 2 McDonald's</li>
        </ul>
    </td>
</tr>


<tr>
    <td class="date">Friday<br/>December 8</td>
    <td>
        <h6 class="header">Project Presentations</h6>
        <ul class="reading">
            <li>312 Group 3</li>
            <li>Shland</li>
            <li>Code_Demons (formerly last minute)</li>
            <li>second time's the charm</li>
        </ul>
    </td>
</tr>

