a {
    color: #0000ff
}

.collapse-header {
    text-decoration: none;
}

#current-week {
    box-shadow: 0 0 16px 3px #005bbb;
    border-radius: 5px;
}

.required {
    color: #bd181f;
}

.dark-theme-checkbox-region {
    margin-top: 20px;
}

code, pre {
    padding: 2px 4px;
    margin: auto;
    border-radius: 4px;
    color: unset;
    background-color: #d5d5d5;
    font-family: "Consolas", "Liberation Mono", "Courier New", "monospace";
}

.notice-me {
    border: 2px solid #143b43;
    border-radius: 4px;
    padding: 10px;
    background-color: #8ee3f1;
}

.table {
    /* Remove the annoying space under each table */
    margin-bottom: 0;
}

.my-social-icon {
    width: 40px;
    margin: 6px;
}


.homework {
    background-color: #f9fff9;
}

.lab {
    background-color: #f9fff9;
}

.non_visual_link {
    color: inherit;
    text-decoration: inherit;
}

.non_visual_link:hover {
    color: inherit;
    text-decoration: inherit;
}

.reading {
    text-align: left;
    margin: 0;
}

li.reading {
    margin: 0;
}

.table td {
    padding: 7px;
}

.card-header {
    padding: 7px;
    padding-left: 15px;
    font-weight: bold;
}


.objective {
    list-style-type: square;
}

.section-header {
    background: #030089;
    cursor: pointer;
}

.section-intro {
    background-color: #514f57;
    color: #ffffff;
    cursor: pointer;
}

.section-card {
    margin-bottom: 15px;
    border: 2px solid;
    border-radius: 0;
}

.card-intro {
    border-color: #f0f0f0;
}


.section-intro {
    background-color: #f0f0f0;
    color: #000000;
    cursor: pointer;
}

.card-outro {
    border-color: #555555;
}

.hw-content {
    padding: 20px;
}

td.date {
    width: 20%;
    white-space: nowrap;
}

.section-outro {
    background-color: #555555;
    color: #f0f0f0;
    cursor: pointer;
}


.card-testing {
    border-color: #3265cb;
}

.section-testing {
    background-color: #3265cb;
    color: #ffffff;
    cursor: pointer;
}


.card-oop {
    border-color: #125c11;
}

.section-oop {
    background-color: #125c11;
    color: #ffffff;
    cursor: pointer;
}

.card-fp {
    border-color: #cca238;
}

.section-fp {
    background-color: #cca238;
    color: #ffffff;
    cursor: pointer;
}

.card-ds {
    border-color: #194e50;
}

.section-ds {
    background-color: #194e50;
    color: #ffffff;
    cursor: pointer;
}

.card-new-test {
    border-color: #83108f;
}

.section-new-test {
    background-color: #83108f;
    color: #ffffff;
    cursor: pointer;
}

.section-events {
    background-color: #bd181f;
    color: #ffffff;
    cursor: pointer;
}

.section-se {
    background-color: #514f57;
    color: #ffffff;
    cursor: pointer;
}

.h {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.table-skinny {
    width: auto;
    margin: 0 10%;
}

.table-skinny {
    width: auto;
}

div.header {
    text-align: center;
    background-color: #156ad2;
    color: #ffffff;
}

body.outer {
    background-color: #ffffff;
}

.lo-checklist {
    list-style-type: "□  ";
}

.lo-checklist li {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 0.3em;
}
