<div class="card border-dark mb-3">

    <div class="card-body">
        <h3 class="card-title">Course Description</h3>

        <p class="card-text">
            Covers the fundamentals of full-stack web development and deployment with a strong emphasis on server-side
            code and functionality. Students will develop a full-stack web application without the use of a pre-existing
            web server or web framework. Topics include HTTP, APIs, AJAX, databases, encryption, authentication,
            sockets, privacy, and security.
        </p>

    </div>
</div>


<div class="card border-dark mb-3">

    <div class="card-body">
        <h3 class="card-title">Expectations</h3>
        <p class="card-text">
            To do well in this course you are expected to:
        </p>
        <ul>
            <li>
                Spend a minimum of 12 hours/week on CSE312
            </li>
            <li>
                Have a desire to learn about Web Applications
            </li>
            <li>
                Be able to develop software with little/no guidance from the course staff
            </li>
            <li>
                Be able to find, read, and understand technical documentation
            </li>
        </ul>
    </div>

</div>


<div class="card border-dark mb-3">
    <div class="card-body">
        <h3 class="card-title">Homework</h3>

        <p>
            There are 5 homework assignments throughout the course. Each homework assignment will consist of:
        </p>

        <ul>
            <li>A Learning Objective (LO)
                <ul>
                    <li>
                        All features in the learning objective must be completed in order to pass the class. Learning
                        objectives will be autograded, and you have unlimited attempts to complete them before the
                        deadline
                    </li>
                    <li>
                        If needed, you will be given up to 1 deadline extension on 1 Learning Objective deadline. This
                        extension will be automatically applied if you miss a Learning Objective deadline. The extended
                        deadline will be set to the day of the Application Objective deadline for that Homework
                        assignment. If you do not complete a Learning Objective by the extended deadline, or if you miss
                        a second Learning Objective deadline, you will fail the course.
                    </li>
                </ul>
            </li>
            <li>2 Application Objectives (AO)
                <ul>
                    <li>
                        Additional features that can be completed to improve your grade. Application objectives will be
                        manually graded after the deadline
                    </li>
                    <li>
                        Application objectives are due 1 week after the learning objectives
                    </li>
                </ul>
            </li>
        </ul>


        <p>The following apply to all homework assignments except where exceptions are explicitly stated:</p>
        <ul>
            <li>
                All homework assignments will be completed in Python
            </li>
            <li>No external libraries or frameworks are allowed if the library implements functionality that we
                covered in class (Exceptions are made for TCP and IP)
            </li>
            <li>Any libraries/packages/classes/functions/etc that are included in Python that complete part
                of an assignment - related to the course content - for you are not allowed. This includes the
                HTTP module
            </li>
            <li>If you have any question whether or not something is allowed, please ask <b>before</b> the assignment is
                due. As a general rule: If a topic is
                covered in detail during lecture, then you must write all the code that
                implements those details.
            </li>
        </ul>


    </div>

</div>


<div id="section2-2" class="section-marker"></div>
<div class="card border-dark mb-3">
    <div class="card-body">
        <h3 class="card-title">Exams</h3>

        <p>
            There are 2 exams in the course, a midterm and final exam, whose dates are listed in the course schedule and
            contain the following objectives:
        </p>

        <ul>
            <li>Exam Learning Objective (LO)
                <ul>
                    <li>
                        You must earn at least half of the available points on <em>either</em> exam to pass the class
                    </li>
                    <li>
                        This means that if you earn at least half the points on the midterm exam, you do not have to
                        worry about the LO on the final exam. However, if you completely bomb the midterm, you still
                        have an opportunity to complete the exam LO on the final exam
                    </li>
                </ul>
            </li>
            <li>4 Application Objectives (AO)
                <ul>
                    <li>
                        Each exam will offer the chance to earn up to 4 AOs for a total of 8 AOs that can be earned from
                        the 2 exams
                    </li>
                </ul>
            </li>
        </ul>

        <p>No electronics or outside material are allowed
            during the exams. It's just you, the exam, and a writing utensil.
        </p>
        <p>
            Exams will be completed on paper and will be manually graded. The midterm will be graded out of 40 and the
            final out of 120 with the following points to LO/AO conversions:
        </p>

<br/>
        <table class="table table-bordered table-skinny">
            <thead>
            <tr>
                <th>Midterm Grade</th>
                <th>Objectives Completed</th>
            </tr>
            </thead>
            <tr>
                <td>36-40</td>
                <td>4 AOs + The Exam LO</td>
            </tr>
            <tr>
                <td>32-35</td>
                <td>3 AOs + The Exam LO</td>
            </tr>
            <tr>
                <td>28-31</td>
                <td>2 AOs + The Exam LO</td>
            </tr>
            <tr>
                <td>24-27</td>
                <td>1 AO + The Exam LO</td>
            </tr>
            <tr>
                <td>20-23</td>
                <td>The Exam LO</td>
            </tr>
            <tr>
                <td>0-19</td>
                <td>No objectives completed</td>
            </tr>
        </table>

        <br><br>

        <table class="table table-bordered table-skinny">
            <thead>
            <tr>
                <th>Final Exam Grade</th>
                <th>Objectives Completed</th>
            </tr>
            </thead>
            <tr>
                <td>108-120</td>
                <td>4 AOs + The Exam LO*</td>
            </tr>
            <tr>
                <td>96-107</td>
                <td>3 AOs + The Exam LO*</td>
            </tr>
            <tr>
                <td>84-95</td>
                <td>2 AOs + The Exam LO*</td>
            </tr>
            <tr>
                <td>72-83</td>
                <td>1 AO + The Exam LO*</td>
            </tr>
            <tr>
                <td>60-71</td>
                <td>The Exam LO*</td>
            </tr>
            <tr>
                <td>0-59</td>
                <td>No objectives completed</td>
            </tr>
        </table>
        <br/>
        <p>* The exam LO is only completed on the final if it wasn't already earned on the midterm. If it was completed
            on the midterm, there's no need to complete it a second time (ie. If you did well on the midterm, and you're happy with your grade, you may skip the final exam)</p>
    </div>

</div>


<div class="card border-dark mb-3">

    <div class="card-body">
        <h3 class="card-title">Learning Objectives</h3>

        <p class="card-text">
            The Learning Objectives of this course are, as the name implies, what you should expect to learn from taking
            this course. Anyone who has not completed every Learning Objective
            has not gained the knowledge expected when they enrolled in this course and therefore cannot be assigned a
            passing grade.
        </p>

        <table class="table table-bordered table-skinny">
            <thead>
            <tr>
                <th>Learning Objectives Completed</th>
                <th>Grade</th>
            </tr>
            </thead>
            <tr>
                <td>6 (All 5 HW LOs + The Exam LO)</td>
                <td>Grade depends on the number of Application Objectives completed</td>
            </tr>
            <tr>
                <td>0-5</td>
                <td>F</td>
            </tr>
        </table>
    </div>
</div>


<div class="card border-dark mb-3">

    <div class="card-body">
        <h3 class="card-title">Application Objectives</h3>
        <p class="card-text">

        <p>
            If you have completed all 6 learning objectives, your grade will be determined by the number of
            application objectives you've completed. Your final letter
            grade will be determined as follows:
        </p>


        <table class="table table-bordered table-skinny">
            <thead>
            <tr>
                <th>Application Objectives Completed</th>
                <th>Grade</th>
            </tr>
            </thead>
            <tr>
                <td>18-22</td>
                <td>A</td>
            </tr>
            <tr>
                <td>16-17</td>
                <td>A-</td>
            </tr>
            <tr>
                <td>14-15</td>
                <td>B+</td>
            </tr>
            <tr>
                <td>12-13</td>
                <td>B</td>
            </tr>
            <tr>
                <td>10-11</td>
                <td>B-</td>
            </tr>
            <tr>
                <td>8-9</td>
                <td>C+</td>
            </tr>
            <tr>
                <td>6-7</td>
                <td>C</td>
            </tr>
            <tr>
                <td>4-5</td>
                <td>C-</td>
            </tr>
            <tr>
                <td>0-3</td>
                <td>F</td>
            </tr>
        </table>

        <br/>

        <hr/>
        <h4>Application Objectives</h4>

        <p>
            You can earn application objectives to improve your grade in this course.
            You will have the following opportunities to complete application objectives.
        </p>

        <ul>
            <li>Homework Application Objectives x10
                <ul>
                    <li>
                        Each of the 5 homework assignments contain 2 application objectives. For each of these
                        objectives you complete before the Application Objective deadline of that homework, you will earn
                        1 Application Objective
                    </li>
                    <li>
                        All application objectives are manually graded. Grades will be released within 1 week after the
                        deadline
                    </li>
                </ul>
            </li>
            <li>Exam Application Objectives x8
                <ul>
                    <li>
                        The midterm and final exams each offer the opportunity to earn 4 Application Objectives based on
                        your exam scores
                    </li>
                </ul>
            </li>
            <li>Recitation x2
                <ul>
                    <li>
                        There are 12 recitations throughout the semester during the weeks with "Yes Recitation" listed on
                        the course schedule. During these recitations, the TAs will provide examples and demos related to
                        the previous week of lecture content. The purpose of these recitations is to bridge the gap
                        between the more conceptual lecture content and what you are expected to code on the homework
                        assignments
                    </li>
                    <li>
                        The TAs will record participation during every recitation. To earn credit for a recitation
                        you must 1) Show up on time 2) Participate in the recitation (eg. If you physically attend, but
                        don't pay attention and spend the whole time staring at your phone, the TA has the right to deny
                        your credit for that day). Some recitations may require you to complete an activity for that
                        day's participation
                    </li>
                    <li>
                        You may attend any of the 4 recitation sections, pending room capacity (eg. If a section becomes
                        too popular to fit everyone in the room, we will prioritize students who are registered for that
                        section and may deny others from attending). We will cover the same content throughout the week
                        of recitation so some students find it more helpful to attend earlier in the week to get started
                        on the HW earlier
                    </li>
                    <li>
                        If you earn participation credit during 10-12 recitations, you will earn 2 Application
                        Objectives
                    </li>
                    <li>
                        If you earn participation credit during 8-9 recitations, you will earn 1 Application
                        Objectives
                    </li>
                    <li>
                        If you earn participation credit during 0-7 recitations, you will not earn any Application
                        Objectives
                    </li>
                    <li>
                        If you have to miss more than 2 recitations, to the point where you will not earn both
                        Application Objectives, and you expect to be given a waiver, you must
                        provide official documentation stating that you were unable to attend recitation for more than 2
                        weeks.
                        Please note that a plane ticket is not official documentation.
                    </li>
                </ul>
            </li>

            <li>Lecture Questions x2
                <ul>
                    <li>
                        Most lectures will include questions to be answered during live lectures. These
                        will be simple
                        questions designed to encourage you to attend lecture and stay up to date on the material. Since
                        lectures will be recorded, there is a temptation to watch lectures days, or even weeks, after
                        they
                        occur. These questions are to serve as an incentive for you to attend lecture and avoid falling
                        behind in the course.
                    </li>
                    <li>
                        We will drop a total of 6 (2 full weeks worth!) lecture questions that were either not submitted
                        or were
                        submitted with an incorrect answer. You can use these 6 drops for any reason (Including illness,
                        travel, TopHat login issues, etc). If you have to miss more
                        than 2
                        full weeks of lecture, and expect to be able to makeup more than 6 lecture questions, you must
                        provide official documentation stating that you were unable to attend lecture for more than 2
                        weeks.
                        Please note that a plane ticket is not official documentation.
                    </li>
                    <li>
                        If, after the 6 drops, you answer all lecture questions correctly, you will earn 2 application
                        objectives
                    </li>
                    <li>
                        If, after the 6 drops, you missed (either not submitted or submitted with an incorrect answer)
                        between 1 and 3 lecture questions, you will earn 1 application
                        objective
                    </li>
                    <li>
                        If, after the 6 drops, you missed (either not submitted or submitted with an incorrect answer)
                        more than 3 lecture questions (>9 total question missed), you will not earn any application
                        objectives from lecture questions
                    </li>
                </ul>
            </li>
        </ul>

    </div>

</div>


<div id="section3" class="section-marker"></div>
<div class="card border-dark mb-3">
    <div class="card-body">
        <h3 class="card-title">Readings</h3>
        <p>
            There is no textbook for this course. Links to relevant readings and tutorials will be provided
            in the course schedule.
        </p>

    </div>

</div>


<div id="section4" class="section-marker"></div>
<div class="card border-dark mb-3">
    <div class="card-body">
        <h3 class="card-title">University/Department Policies and Services</h3>
        <ul>
            <li>Counseling: <a href="http://www.buffalo.edu/studentlife/who-we-are/departments/counseling.html">http://www.buffalo.edu/studentlife/who-we-are/departments/counseling.html</a>
            </li>
            <li>Accessibility: <a
                    href="http://www.buffalo.edu/studentlife/who-we-are/departments/accessibility.html">http://www.buffalo.edu/studentlife/who-we-are/departments/accessibility.html</a>
            </li>
        </ul>

    </div>

</div>


<div id="section5" class="section-marker"></div>
<div class="card border-dark mb-3">
    <div class="card-body">
        <h3 class="card-title">Academic Integrity</h3>
        <p class="card-text">
        <p>
            <a
                href="https://engineering.buffalo.edu/computer-science-engineering/information-for-students/undergraduate-program/cse-undergraduate-academic-policies/cse-academic-integrity-policy.html">
            CSE Department Academic Integrity Policy</a>
        </p>
        <p>
            <a
                href="https://catalogs.buffalo.edu/content.php?catoid=11&navoid=571#preamble">
            UB Academic Integrity Policy</a>
        </p>
        <p>
            In addition to the department and university policies, the following apply to this course:
        </p>

        <ol>
            <li>All submitted work must be of your own creation.</li>
            <li>Do not help another student violate point 1.</li>
        </ol>

        <p>
            All violations will result in:
        </p>

        <div class="text-center alert alert-danger">
            <h3>An F in CSE312.</h3>
        </div>

        <p>
            Examples of acceptable behavior:
        </p>
        <ul>
            <li>Discussing an assignment with your classmates and brainstorming <b>abstract</b> solutions, then writing
                the code on your own
            </li>
            <li>Forming study groups and discussing course material and assignments on Discord, Zoom, etc.</li>
            <li>Studying from supplementary material to <em>improve your understanding</em> of the course topics</li>
            <li>Asking the teaching staff for clarification on a homework question</li>
            <li>Having, or hiring, someone to help you <em>understand the concepts</em> of the course</li>
            <li>Copying code from courses examples repo, linked at the top of this page, into your assignments</li>
        </ul>

        <p>
            Examples of <b>un</b>acceptable behavior:
        </p>
        <ul>
            <li>Using Artificial Intelligence to help you write code (The code is not your own creation).</li>
            <li>Using autocorrect or autocomplete <em>without</em> understanding exactly what the code does (The code is not your own creation).</li>
            <li>Collaborating with another student to write code for an assignment. (Do not sit next to your friend
                while you both work on the coding tasks)
            </li>
            <li>Allowing another student to see your code or submission for an assignment.</li>
            <li>Allowing another student to access your work that will be submitted for course credit. (Examples: Do not
                post you code publicly, host your code in a public repository, or allow a classmate to access your
                laptop)
            </li>
            <li>Having someone help you write code. I don't care if you typed the code when someone else is telling you what to type</li>
            <li>Copying a large amount of material found on the Internet into your submission.</li>
            <li>Copying any amount of code you found without knowing exactly what it does, even it's 1 character.</li>
            <li>Attempting to access the grading code on Autolab.</li>
            <li>Asking any of the course staff to falsify your grade (eg. Asking for any result that you did not
                rightfully earn). This includes pressuring your TA to give you credit for recitation when you did not rightfully 
                earn it (Ex. if you showed up late).
            </li>
            <li>Submitting lecture questions without attending the entire lecture in person.</li>
            <li>
                Interfering with another student in a way that may affect their grade.
            </li>
            <li>
                Using any unauthorized assistance during an exam.
            </li>
            <li>Submitting code for credit without being able to explain how the code works and why you wrote it 
                the way you did (The code is not <em>your</em> creation if you can't).</li>
    
        </ul>

        <p>
            Any student may be challenged by the course staff at any time to prove that they did create the code they submitted for
            course credit. They must be able to explain their code and 
            walk through their thought process as they wrote the code. 
             The method of proof can vary and is left for the course staff to decide. If the student fails
            to convince the course staff that they created all the code they submitted for course
            credit, they will be found in violation of this academic integrity policy. Please note that if a student is
            in violation of any other part of this policy, it is still a violation even if they can prove that they were
            the creator of their code (Ex. If they did write their code, but helped someone else cheat).
        </p>

        <p>If challenged, the following excuses are not acceptable:</p>
        <ul>
            <li>"That assignment was 3 weeks ago. I forgot." (If you forgot everything in 3 weeks, you did not learn it)</li>
            <li>"I got that from the Internet." (You're clearly not the creator)</li>
            <li>"I didn't write that." (Yes, this is a common excuse. At least it makes the meeting easier..)</li>
            <li>"The TA told me to do that." (If they did, you still need to understand all code you submit)</li>
            <li>"I hired a tutor" (You hired a cheater)</li>
        </ul>

        <p>
            If you plan on cheating, plan on taking this course again.
        </p>

    </div>

</div>
