<div class="card border-dark mb-3">

    <div class="card-body">
        <h3 class="card-title">Course Description</h3>

        <p class="card-text">
            Covers the fundamentals of full-stack web development and deployment with a strong emphasis on server-side
            code and functionality. Students will develop a full-stack web application without the use of a pre-existing
            web server or web framework. Topics include HTTP, APIs, AJAX, databases, encryption, authentication,
            sockets, privacy, and security.
        </p>

    </div>
</div>


<div class="card border-dark mb-3">

    <div class="card-body">
        <h3 class="card-title">Expectations</h3>
        <p class="card-text">
            To do well in this course you are expected to:
        </p>
        <ul>
            <li>
                Have a desire to learn about Web Applications
            </li>
            <li>
                Be able to develop software with little/no guidance from the course staff
            </li>
            <li>
                Be able to find, read, and understand technical documentation
            </li>
            <li>
                Spend a minimum of 12 hours/week on CSE312
            </li>
        </ul>
    </div>

</div>


<div class="card border-dark mb-3">

    <div class="card-body">
        <h3 class="card-title">Learning Objectives</h3>

        <p class="card-text">
            Being successful in CSE312 requires you to complete a total of 4 learning objectives, all of which are
            programming objectives. Each of the 4 homework assignments contain a learning objectives section which must
            be completed successfully in order to pass the class.
        </p>

        <p>
            All Learning Objectives will be autograded and Autolab will let you know if you've completed the objective.
            You may resubmit as many times as you'd like until you complete each Learning Objective.
        </p>

        <table class="table table-bordered table-skinny">
            <thead>
            <tr>
                <th>Learning Objectives Completed</th>
                <th>Grade</th>
            </tr>
            </thead>
            <tr>
                <td>4</td>
                <td>Grade depends on the number of Application Objectives completed</td>
            </tr>
            <tr>
                <td>0-3</td>
                <td>F</td>
            </tr>
        </table>
    </div>
</div>


<div class="card border-dark mb-3">

    <div class="card-body">
        <h3 class="card-title">Application Objectives</h3>
        <p class="card-text">

        <p>
            If you have completed all 4 learning objectives, your grade will be determined by the number of
            application objectives you've completed. Your final letter
            grade will be determined as follows:
        </p>


        <table class="table table-bordered table-skinny">
            <thead>
            <tr>
                <th>Application Objectives Completed</th>
                <th>Grade</th>
            </tr>
            </thead>
            <tr>
                <td>24-28</td>
                <td>A</td>
            </tr>
            <tr>
                <td>23</td>
                <td>A-</td>
            </tr>
            <tr>
                <td>22</td>
                <td>B+</td>
            </tr>
            <tr>
                <td>20-21</td>
                <td>B</td>
            </tr>
            <tr>
                <td>18-19</td>
                <td>B-</td>
            </tr>
            <tr>
                <td>15-17</td>
                <td>C+</td>
            </tr>
            <tr>
                <td>12-14</td>
                <td>C</td>
            </tr>
            <tr>
                <td>9-11</td>
                <td>C-</td>
            </tr>
            <tr>
                <td>0-8</td>
                <td>F</td>
            </tr>
        </table>

        <br/>

        <hr/>
        <h4>Application Objectives</h4>

        <p>
            You can earn application objectives to improve your grade in this course.
            You will have the following opportunities to complete application objectives.
        </p>

        <ul>
            <li>Homework Application Objectives x12
                <ul>
                    <li>
                        Each of the 4 homework assignments contain 3 application objective. For each of these objectives
                        you complete the before the final deadline of that homework, will earn 1 Application Objective
                    </li>
                    <li>
                        You will not receive autograding feedback about completion of these objectives in Autolab
                    </li>
                </ul>
            </li>
            <li>Homework Learning Objective Expected Deadlines x4
                <ul>
                    <li>
                        There are two deadlines for each of the 4 homework assignments: expected and final. You are
                        expected to complete the Learning Objective portion before the expected deadline. Each time you
                        do, you will earn 1 Application Objective. Since you must complete these objectives to pass the
                        class, you are given a free 1-week extension in the form of a late deadline though you will not
                        earn any application objectives if you need to use this deadline
                    </li>
                </ul>
            </li>
            <li>Team Project x8
                <ul>
                    <li>
                        There are a total of 8 Application Objectives available via the team project during the last
                        few weeks of the course. This includes the project checkpoint, project completion at the
                        deadline, and the project presentation
                    </li>
                </ul>
            </li>
            <li>Recitation x2
                <ul>
                    <li>
                        There are 12 recitations through the semester during the weeks with "Yes Recitation" listed on
                        the course schedule. During these recitation, the TAs with provide examples and demos related to
                        the previous week of lecture content. The purpose of these recitations are to bridge the gap
                        between the more conceptual lecture content and what you are expected to code on the homework
                        assignments. We have seen far too many students fail this course because they were missing
                        important content that was covered in a recitation that they skipped. In the spirit of seeing
                        more students pass the course, recitations are required.
                    </li>
                    <li>
                        The TAs will record participation during every recitation. To earn credit for a recitation
                        you must 1) Show up on time 2) Participate in the recitation (eg. If you physically attend, but
                        don't pay attention and spend the whole time staring at your phone, the TA has the right to deny
                        your credit for that day). Some recitations may require you to complete an activity for that
                        day's participation.
                    </li>
                    <li>
                        If you earn participation credit during 10-12 recitations, you will earn 2 Application
                        Objectives
                    </li>
                    <li>
                        If you earn participation credit during 8-9 recitations, you will earn 1 Application
                        Objectives
                    </li>
                    <li>
                        If you earn participation credit during 0-7 recitations, you will not earn any Application
                        Objectives
                    </li>
                    <li>
                        If you have to miss more than 2 recitations, to the point where you will not earn both
                        Application Objectives, and you expect to be given a waiver you must
                        provide official documentation stating that you were unable to attend recitation for more than 2
                        weeks.
                        Please note that a plane ticket is not official documentation.
                    </li>
                </ul>
            </li>

            <li>Lecture Questions x2
                <ul>
                    <li>
                        Most lectures will include questions to be answered during live lectures. These
                        will be simple
                        questions designed to encourage you to attend lecture and stay up to date on the material. Since
                        lectures will be recorded, there is a temptation to watch lecture days, or even weeks, after
                        they
                        occur. These questions are to serve as an incentive for you to attend lecture and avoid falling
                        behind in the course.
                    </li>
                    <li>
                        We will drop a total of 6 (2 full weeks worth) lecture questions that were either not submitted
                        or
                        submitted with an incorrect answer. You can use these 6 drops for any reason (Including illness
                        or
                        travel). If you have to miss more
                        than 2
                        full weeks of lecture and expect to be able to makeup more than 6 lecture questions, you must
                        provide official documentation stating that you were unable to attend lecture for more than 2
                        weeks.
                        Please note that a plane ticket is not official documentation.
                    </li>
                    <li>
                        If, after the 6 drops, you answer all lecture questions correctly, you will earn 2 application
                        objectives
                    </li>
                    <li>
                        If, after the 6 drops, you missed (either not submitted or submitted with an incorrect answer)
                        between 1 and 3 lecture questions, you will earn 1 application
                        objective
                    </li>
                    <li>
                        If, after the 6 drops, you missed (either not submitted or submitted with an incorrect answer)
                        more than 3 lecture questions (>9 total question missed), you will not earn any application
                        objectives from lecture questions
                    </li>
                </ul>
            </li>
        </ul>

    </div>

</div>


<div class="card border-dark mb-3">
    <div class="card-body">
        <h3 class="card-title">Homework</h3>

        <p>
            All homework assignments will be completed in Python
        </p>

        <p>
            Each assignment will be a programming/development assignment with a submission of your software on Autolab,
            though there will only be automated grading for the Learning Objective portion of each assignment. You will
            submit all the code and files that comprise your software on AutoLab in a single zip file.
        </p>

        <p>The following apply to all homework assignments except where exceptions are explicitly stated:</p>
        <ul>
            <li>No external libraries or frameworks are allowed if the library implements functionality that we
                covered in class (Exceptions are made for TCP and IP)
            </li>
            <li>Any libraries/packages/classes/functions/etc that are included in Python that complete part
                of an assignment - related to the course content - for you are not allowed. This includes the
                HTTP module
            </li>
            <li>
                No AI assistance (eg. ChatGPT or full-line completion) is allowed.
            </li>
            <li>If you have any question whether or not something is allowed, please ask <b>before</b> the assignment is
                due. As a general rule: If a topic is
                covered in detail during lecture, then you must write all the code that
                implements those details.
            </li>
        </ul>


    </div>

</div>


<div id="section2-2" class="section-marker"></div>
<div class="card border-dark mb-3">
    <div class="card-body">
        <h3 class="card-title">Project</h3>

        <p>
            You will work in a team of 4-5 students to create a web application. You have full freedom to choose your
            own team. You are allowed to form teams across different recitation sections. The project does not
            officially start until week 12 though you are welcome and encouraged to start much earlier
        </p>


        {#            <a href="https://docs.google.com/forms/d/e/1FAIpQLSeVVIc7gAZMBPS0_AEoyal0IDy9YCFBGkJZuYYWX30T4GKU4A/viewform?usp=sf_link"#}
        {#               target="_blank">Team Formation Form</a></div>#}

        <p>
            Unlike the homework assignments, you are
            <b>required</b> to use libraries and frameworks on your project. The intent is that homework will show you
            how the
            protocols of Internet work, while the project will give you practice using the tools that you will actually
            use in the real world.
        </p>


        <p>The project will give you practice using the tools that you will
            use in the real world, unlike the homework which will show you
            the low-level details of how the protocols of Internet work.
            The following apply to the team project:</p>
        <ul>
            <li>
                You are <b>required</b> to use libraries and frameworks on your project. Any and all libraries are
                allowed, and you must use a web framework (eg. Flask, Express) of your choice as the core of your app
            </li>
            <li>
                You may use any programming language(s) you'd like to complete the project
            </li>
            <li>
                AI assistance (eg. ChatGPT or full-line completion) <em>is allowed</em> [on your team project only].
                These tools are typically used
                in industry, depending on your specific company/team, and this project will offer you an opportunity to
                get familiar with these tools. The team project is simulating a real-world project and therefor these
                tools are explicitly allowed. (Please note that this only applies to the team project and NOT to the
                homework assignments! Claiming confusion on the policy after being caught using AI on you homework is
                not a valid excuse)
            </li>
            <li>
                In general, as long as what you're doing is not illegal and does not violate any real-world requirements
                (eg. Violating the term and service of a tool you've used, using someone else's work that's protected by
                a copyright)
            </li>
            <li>
                The one academic requirements that remains is: All work completed for the project must be completed by
                the members of your team.
            </li>
        </ul>


        <h5>Presentation</h5>
        <p>
            Your team will give a 10-minute presentation showing your project to the class at the end of the semester.
            The audience will use your live app during this presentation
        </p>


        {#        <div><a href="https://calendly.com/hartloff/cse312-presentations" target="_blank">Sign up for a presentation#}
        {#            time</a></div>#}


    </div>

</div>


<div id="section3" class="section-marker"></div>
<div class="card border-dark mb-3">
    <div class="card-body">
        <h3 class="card-title">Readings</h3>
        <p>
            There is no textbook for this course. Links to relevant readings and tutorials will be provided
            in the course schedule.
        </p>

    </div>

</div>


<div id="section4" class="section-marker"></div>
<div class="card border-dark mb-3">
    <div class="card-body">
        <h3 class="card-title">University/Department Policies and Services</h3>
        <ul>
            <li>Counseling: <a href="http://www.buffalo.edu/studentlife/who-we-are/departments/counseling.html">http://www.buffalo.edu/studentlife/who-we-are/departments/counseling.html</a>
            </li>
            <li>Accessibility: <a
                    href="http://www.buffalo.edu/studentlife/who-we-are/departments/accessibility.html">http://www.buffalo.edu/studentlife/who-we-are/departments/accessibility.html</a>
            </li>
        </ul>

    </div>

</div>


<div id="section5" class="section-marker"></div>
<div class="card border-dark mb-3">
    <div class="card-body">
        <h3 class="card-title">Academic Integrity</h3>
        <p class="card-text">
        <p>
            CSE Department Academic Integrity Policy: <br/><a
                href="https://engineering.buffalo.edu/computer-science-engineering/information-for-students/undergraduate-program/cse-undergraduate-academic-policies/cse-academic-integrity-policy.html">
            https://engineering.buffalo.edu/computer-science-engineering/information-for-students/undergraduate-program/cse-undergraduate-academic-policies/cse-academic-integrity-policy.html</a>
        </p>
        <p>
            UB Academic Integrity Policy: <br/><a
                href="https://catalogs.buffalo.edu/content.php?catoid=11&navoid=571#preamble">
            https://catalogs.buffalo.edu/content.php?catoid=11&navoid=571#preamble</a>
        </p>
        <p>
            In addition to the department and university policies, the following details apply to this course.
        </p>

        <p>

            All submitted work must be of your own creation, and you must not share your submission with anyone else. If
            any submission is very similar to what has been submitted by another student,
            or can be found online, it is in violation of this courses academic integrity policy and all students will
            be penalized whether they were copying or sharing their submission with other students so they can copy. If
            two
            submissions are similar beyond what is likely if the students worked independently, then <b>both students
            are in violation</b> of the academic integrity policy.
        </p>
        <p>
            All violations will result in:
        </p>

        {#        <div class="row">#}
        {#            <div class="col-sm-4">#}
        <div class="text-center alert alert-danger">
            <h3 style="color:red">An F in CSE312.</h3>
        </div>
        {#            </div>#}
        {#            <div class="col-sm-8"></div>#}
        {#        </div>#}
        <p>
            It is your responsibility to understand what constitutes an academic integrity violation. If you have
            any question whether something you are doing is a violation or not, ask for
            clarification <b>before receiving an F in the course</b>. I will not entertain excuses after you
            have been caught.

        </p>
        <p>
            Examples of acceptable behavior:
        </p>
        <ul>
            <li>Discussing an assignment with your classmates and brainstorming <b>abstract</b> solutions, then writing
                code and documentation independently
            </li>
            <li>Searching the Internet for supplementary material on the course topics</li>
            <li>Asking the teaching staff for clarification on a homework question</li>
            <li>Collaborating with your team mates on the team project</li>
            <li>Asking the course staff about a potential grading error</li>
            <li>Using Artificial Intelligence to help you write code <em>for the team project</em></li>
        </ul>

        <p>
            Examples of <b>un</b>acceptable behavior:
        </p>
        <ul>
            <li>Submitting code or other work that is not your own for course credit.</li>
            <li>Allowing another student to see your code or submission for a homework assignment. (Ex. Sitting side-by-side
                while working on a homework such that you can see each other screens)
            </li>
            <li>Using Artificial Intelligence to help you write code <em>for a homework assignment</em>.</li>
            <li>Collaborating with another student to write code or documentation for a homework assignment.
            </li>
            <li>Copying a large amount of material found on the Internet into your homework submission.</li>
            <li>Asking any of the course staff to falsify your grade (eg. Asking for any result that you did not
                rightfully earn). This includes pressuring your TA to give you credit for recitation when you did not
                rightfully earn it (eg. if you showed up late).
            </li>
            <li>Attempting to access the grading code on Autolab.</li>
            <li>Submitting lecture questions without attending the entire lecture in person.</li>
            <li>Interfering with another student in a way that may affect their grade (eg. Launching a DoS attack on a
                team's app during their presentation).</li>
        </ul>

    </div>

</div>
