<div class="card border-dark mb-3">

    <div class="card-body">
        <h3 class="card-title">Course Description</h3>

        <p class="card-text">
            Covers the fundamentals of full-stack web development and deployment with a strong emphasis on server-side
            code and functionality. Students will develop a full-stack web application without the use of a pre-existing
            web server or web framework. Topics include HTTP, APIs, AJAX, databases, encryption, authentication,
            sockets, privacy, and security.
        </p>

    </div>
</div>


<div class="card border-dark mb-3">

    <div class="card-body">
        <h3 class="card-title">Expectations</h3>
        <p class="card-text">
            To do well in this course you are expected to:
        </p>
        <ul>
            <li>
                Spend a minimum of 12 hours/week on CSE312
            </li>
            <li>
                Have a desire to learn about web applications
            </li>
            <li>
                Be able to develop software with little/no guidance from the course staff
            </li>
            <li>
                Be able to find, read, and understand technical documentation
            </li>
        </ul>
    </div>

</div>


<div class="card border-dark mb-3">

    <div class="card-body">
        <h3 class="card-title">Grading</h3>
        <p class="card-text">
            There are 1000 points available throughout the course. Your grade will be determined by the number of points you earn as follows:
        </p>


        <table class="table table-bordered table-skinny">
            <thead>
            <tr>
                <th>Points</th>
                <th>Grade</th>
            </tr>
            </thead>
            <tr>
                <td>930-1000</td>
                <td>A</td>
            </tr>
            <tr>
                <td>900-929</td>
                <td>A-</td>
            </tr>
            <tr>
                <td>870-899</td>
                <td>B+</td>
            </tr>
            <tr>
                <td>830-869</td>
                <td>B</td>
            </tr>
            <tr>
                <td>800-829</td>
                <td>B-</td>
            </tr>
            <tr>
                <td>770-799</td>
                <td>C+</td>
            </tr>
            <tr>
                <td>730-769</td>
                <td>C</td>
            </tr>
            <tr>
                <td>700-729</td>
                <td>C-</td>
            </tr>
            <tr>
                <td>650-699</td>
                <td>D+</td>
            </tr>
            <tr>
                <td>600-649</td>
                <td>D</td>
            </tr>
            <tr>
                <td>&lt;600</td>
                <td>F</td>
            </tr>
        </table>

        <br>
        <p class="card-text">
            Points are available from the following assessments:
        </p>
        <table class="table table-bordered table-skinny">
            <thead>
            <tr>
                <th>Assessment</th>
                <th>Points</th>
            </tr>
            </thead>
            <tr>
                <td>Homework Assignments</td>
                <td>80</td>
            </tr>
            <tr>
                <td>Homework Quizzes</td>
                <td>320</td>
            </tr>
            <tr>
                <td>Homework Interview</td>
                <td>100</td>
            </tr>
            <tr>
                <td>Team Project</td>
                <td>100</td>
            </tr>
            <tr>
                <td>Recitation Activities</td>
                <td>100</td>
            </tr>
            <tr>
                <td>Lecture Activities</td>
                <td>100</td>
            </tr>
            <tr>
                <td>Final Exam</td>
                <td>200</td>
            </tr>
        </table>


        <br/>

        <hr/>
        <h4>Homework Assignments</h4>

        <p class="card-text">
            There are 4 homework assignments worth 20 points each for a total of 80 points. The following apply to all homework assignments:
        </p>

        <ul>
            <li>
                All homework assignments will be completed in Go. If you are not familiar with this language, you are strongly 
                encouraged to review the <a href="https://go.dev/tour/list">Tour of Go</a>
            </li>
            <li>
                All homework assignments will use PostgreSQL as the database 
            </li>
            <li>No frameworks are allowed. You must implement all functionality yourself starting with a TCP socket from the <code>net</code> package
                </li>
            <li>No libraries/packages/classes/functions/etc are allowed if the library implements functionality that we
                covered in detail during lecture or recitation (e.g. We only cover JSON at a high level, 
                not in detail, so libraries are allowed for JSON). If you're not sure if something is allowed, please ask <em>before</em> the assignment is due
            </li>
            <li>There will be <b>no</b> autograding for homework assignments. You will have a fair amount of flexibility in how you implement the homework assignments. 
                The emphasis will be on you learning and applying the concepts covered in the homework assignment, and less on your specific implementation (e.g. If you deviate from the assignment, but justify that you still covered the concepts, that's cool)</li>
            
        </ul>

        <p class="card-text">
            The purpose of the homework assignments is to expose you to all the low-level details that make a web application function properly.
        </p>

        <br/>

        <hr/>
        <h4>Homework Quizzes</h4>
        <p class="card-text">
            There are 4 homework quizzes worth 80 points each for a total of 320 points. Each quiz will take place the day after the corresponding homework assignment is due and will take the entire 50-minute lecture time.
        </p>

        <p class="card-text">
            Each quiz will assess the material from the corresponding homework assignment. Most of the learning in this course 
            will take place while designing and implementing the homework assignments. These quizzes will verify that this learning has occurred.
        </p>

        <p class="card-text">
            No additional materials are allowed for these quizzes. It's you, the quiz paper, your writing utensils, and optionally a bottle of water. All other materials are prohibited.
        </p>

        <p class="card-text">
            Only university-approved reasons 
            with documentation (e.g. illness with doctor's note) will be considered for makeup opportunities.
        </p>
        <br/>

        <hr/>
        <h4>Homework Interview</h4>

        <p class="card-text">
            Each student will be interviewed 1 time during the semester. This interview is graded as a pass/fail assessment worth 100 points. The 
            interview may occur during any scheduled class time throughout the semester (Lecture or recitation), and may include questions about any homework assignment. 
            Interviews may start as soon as the homework 1 deadline passes. Any student not present when they are called for an interview 
            will be called 1 additional time on a different date. Any student absent again on the second date will earn a 0.
        </p>
        <p>
            During the interview, you will be asked questions about your specific implementation of the homework assignments. If you are able to 
            explain your code and your design decisions, you will pass the interview. The intention is for any student who did their own work on the 
            homework assignments to easily pass the interview. It is not meant to be a rigorous assessment.
        </p>


        <br/>

        <hr/>
        <h4>Team Project</h4>

        <p class="card-text">
            The end of the semester will consist of a team project culminating in a presentation during lecture. This project is worth 100 points total (submission and presentation) 
            and will be completed in groups of 2-4 students. The 
            following apply <em>only</em> to the team project:
        </p>
            <ul>
                <li>
                    You are required to use a web framework for the project. You have full freedom in choosing your framework, language, and database for this project
                </li>
                <li>
                    You may use <b>any</b> libraries/packages/classes/functions/etc you'd like
                </li>
                
            </ul>
        

        <p class="card-text">
            The purpose of the project is to simulate how you'll actually build a web application in a real-world setting.
        </p>


        <br/>

        <hr/>
        <h4>Recitation Activities</h4>

        <p class="card-text">
            Each of the 12 recitations will contain an activity worth 10 points. Total points are capped at 100.
         </p>

        <p class="card-text">
            The structure of these activities will vary from recitation to recitation. In general, they will assess if you are keeping up with the material from lecture and recitation up to that point.
        </p>

        <br/>
        <hr/>
        <h4>Lecture Activities</h4>

        <p class="card-text">
            Most lectures will contain a lecture activity. The point value for activities may vary from lecture to lecture, but the total number of points available throughout the semester
            will be at least 120. Total points are capped at 100.
        </p>

        <p class="card-text">
            The structure of these activities will vary from lecture to lecture. Their simplest form will be a multiple choice question at the end of lecture related to the material covered that day.
        </p>


        <br/>
        <hr/>
        <h4>Final Exam</h4>

        <p class="card-text">
            There will be a comprehensive final exam worth 200 points at the end of the semester.
        </p>

        <p class="card-text">
            No additional materials are allowed for the final exam. It's you, the exam paper, your writing utensils, and optionally a bottle of water. All other materials are prohibited.
        </p>
        
    </div>    
</div>




<div id="section3" class="section-marker"></div>
<div class="card border-dark mb-3">
    <div class="card-body">
        <h3 class="card-title">Readings</h3>
        <p>
            There is no textbook for this course. Links to relevant readings and tutorials will be provided
            in the course schedule.
        </p>

    </div>

</div>


<div id="section4" class="section-marker"></div>
<div class="card border-dark mb-3">
    <div class="card-body">
        <h3 class="card-title">University/Department Policies and Services</h3>
        <ul>
            <li>Counseling: <a href="http://www.buffalo.edu/studentlife/who-we-are/departments/counseling.html">http://www.buffalo.edu/studentlife/who-we-are/departments/counseling.html</a>
            </li>
            <li>Accessibility: <a
                    href="http://www.buffalo.edu/studentlife/who-we-are/departments/accessibility.html">http://www.buffalo.edu/studentlife/who-we-are/departments/accessibility.html</a>
            </li>
            <li>Academic Integrity (UB): <a
                href="https://catalogs.buffalo.edu/content.php?catoid=11&navoid=571#preamble">
                https://catalogs.buffalo.edu/content.php?catoid=11&navoid=571#preamble</a>
            </li>
            <li>Academic Integrity (CSE): <a
                href="https://engineering.buffalo.edu/computer-science-engineering/information-for-students/policies/academic-integrity.html">
                https://engineering.buffalo.edu/computer-science-engineering/information-for-students/policies/academic-integrity.html</a>
            </li>
        </ul>

    </div>

</div>
