<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CSE312: Web Apps</title>
    <link rel="stylesheet" href="/static_files/lib/bootstrap-4.0.0.min.css">
    <link rel="stylesheet" type="text/css" href="/static_files/UBStylin.css"/>
    <link rel="shortcut icon" type="image/x-icon" href="/static_files/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <base target="_blank">
</head>
<body class="outer">

<div class="container">


    <button type="button" class="btn-sm btn-primary" onclick="sendMessage()">Send</button>&nbsp;
    <input type="text" class="form-control" id="chatInput">

    <div id="chat"></div>

    {#    <div id="chatSidebar">#}
    {#        <form class="form-inline" onkeypress="return event.keyCode !== 13">#}
    {#            <div class="form-group row">#}
    {#                <button type="button" class="btn-sm btn-primary" onclick="sendMessage()">Send</button>&nbsp;#}
    {#                <input type="text" class="form-control" id="chatInput">#}
    {#            </div>#}
    {#        </form>#}
    {#        <br/>#}
    {#        <br/>#}
    {#    </div>#}

</div>


<script src="/static_files/lib/jquery-3.3.1.min.js"></script>
<script src="/static_files/lib/popper-1.12.9.min.js"></script>
<script src="/static_files/lib/bootstrap-4.0.0.min.js"></script>
<script src="/static_files/chat.js"></script>


</body>
</html>

