<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CSE312: Web Apps</title>
    <link rel="stylesheet" href="/static_files/lib/bootstrap-4.0.0.min.css">
    <link rel="stylesheet" type="text/css" href="/static_files/UBStylin.css"/>
    <link rel="shortcut icon" type="image/x-icon" href="/static_files/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <base target="_blank">
</head>
<body class="outer" onload="collapse();">

<div class="container">

    <div class="row">
        <div class="col-0 col-sm-0 col-md-1"></div>

        <div class="col-12 col-sm-12 col-md-10">

            <hr/>

            <h1>CSE312: Web Applications</h1>
            <h2>Spring 2021</h2>

            <hr/>

            <a href="https://www.twitch.tv/hartloff" class="non_visual_link">
                <img src="static_files/twitch.png" class="img-responsive my-social-icon"/> Participate in live lecture
                streams MWF 10:20-11:10am EST</a><br/>

            <a href="https://www.youtube.com/channel/UCxB_9AWzBvp4mWSk8zpFU6g/videos" class="non_visual_link">
                <img src="static_files/_youtube_.png" class="img-responsive my-social-icon"/> Watch previous
                lectures</a><br/>

            <a href="https://autograder.cse.buffalo.edu/courses/CSE312-s21/assessments" class="non_visual_link">
                <img src="static_files/autolab.svg" class="img-responsive my-social-icon"/> Submit assignments
                here</a><br/>

            <a href="https://piazza.com/class/kkjsfmbls581d7?cid=6" class="non_visual_link">
                <img src="static_files/piazza.png" class="img-responsive my-social-icon"/> Ask questions when you need
                help</a><br/>

            <a href="https://discord.gg/nC4eBGM" class="non_visual_link">
                <img src="static_files/discord2.png" class="img-responsive my-social-icon"/> Chat with other
                students</a>

            <hr/>


            <div class="card">
                <a data-toggle="collapse" data-target="#syllabus">
                    <div class="card-header text-white section-header">
                        <div>
                            Syllabus <span class="float-right"><i
                                class='far fa-caret-square-down'></i></span>
                        </div>
                    </div>
                </a>

                <div id="syllabus" class="collapse show">
                    <div class="card-body">
                        {% include "syllabus.html" %}
                    </div>
                </div>
            </div>

            <hr/>


            <div class="card">
                <a data-toggle="collapse" data-target="#homework">
                    <div class="card-header text-white section-header">
                        <div>
                            Homework <span class="float-right"><i
                                class='far fa-caret-square-down'></i></span>
                        </div>
                    </div>
                </a>

                <div id="homework" class="collapse show">
                    <div class="card-body">
                        {% include "homework.html" %}
                    </div>
                </div>

            </div>


            <hr/>


            <div class="card">
                <a data-toggle="collapse" data-target="#project">
                    <div class="card-header text-white section-header">
                        <div>
                            Project <span class="float-right"><i
                                class='far fa-caret-square-down'></i></span>
                        </div>
                    </div>
                </a>

                <div id="project" class="collapse show">
                    <div class="card-body">
                        {% include "project.html" %}
                    </div>
                </div>

            </div>


            <hr/>

            <!--- HW1 --->

            <a data-toggle="collapse" data-target="#block1">
                <div class="card-header section-testing">
                    <div>
                        1 - Introduction<span class="float-right"><i
                            class='far fa-caret-square-down'></i></span></div>
                </div>
            </a>

            <div id="block1" class="collapse show section-card card-testing">

                <table class="table table-bordered">

                    <tbody>

                    <tr class="homework">
                         <td colspan="3">
                            <a href="https://docs.google.com/document/d/1xqUoiZLTf4x_xo_HPURcAEoPQ0iIIl-jgDPirwS4KF4/edit?usp=sharing">Homework 1</a>
                        </td>
                    </tr>


                    <tr class="section-week">
                        <td colspan="3"><b>Week 1</b>
                        </td>
                    </tr>

                    {% include "lectures/week1.html" %}

                    <tr class="section-week">
                        <td colspan="3"><b>Week 2</b>
                        </td>
                    </tr>


                    {% include "lectures/week2.html" %}

                    </tbody>
                </table>
            </div>

            <!--- HW2 --->

            <a data-toggle="collapse" data-target="#block2">
                <div class="card-header section-testing">
                    <div>
                        2 - Static Site<span class="float-right"><i
                            class='far fa-caret-square-down'></i></span></div>
                </div>
            </a>

            <div id="block2" class="collapse show section-card card-testing">

                <table class="table table-bordered">

                    <tbody>

                    <tr class="homework">
                         <td colspan="3">
                            <a href="https://docs.google.com/document/d/1adZkYMkm1Z_R9wegfOtfhfNzgLNaNOILVf5flW6ZCbc/edit?usp=sharing">Homework 2</a>
                        </td>
                    </tr>

                    <tr class="section-week">
                        <td colspan="3"><b>Week 3</b>
                        </td>
                    </tr>

                    {% include "lectures/week3.html" %}

                    <tr class="section-week">
                        <td colspan="3"><b>Week 4</b>
                        </td>
                    </tr>


                    {% include "lectures/week4.html" %}


                    </tbody>
                </table>
            </div>

            <!--- HW3 --->

            <a data-toggle="collapse" data-target="#block3">
                <div class="card-header section-testing">
                    <div>
                        3 - Dynamic Site<span class="float-right"><i
                            class='far fa-caret-square-down'></i></span></div>
                </div>
            </a>

            <div id="block3" class="collapse show section-card card-testing">

                <table class="table table-bordered">

                    <tbody>

                    <tr class="homework">
                         <td colspan="3">
                            <a href="https://docs.google.com/document/d/1AIRQSiVU3uMadM-6GarxlRXKVpmiAbnYb8Lx0M_ix5Q/edit?usp=sharing">Homework 3</a>
                        </td>
                    </tr>

                    <tr class="section-week">
                        <td colspan="3"><b>Week 5</b>
                        </td>
                    </tr>

                    {% include "lectures/week5.html" %}


                    <tr class="section-week">
                        <td colspan="3"><b>Week 6</b>
                        </td>
                    </tr>


                    {% include "lectures/week6.html" %}


                    </tbody>
                </table>
            </div>

            <!--- Break --->

            <a data-toggle="collapse" data-target="#blockbreak">
                <div class="card-header section-review">
                    <div>
                        Definitely Not Spring Break<span class="float-right"><i
                            class='far fa-caret-square-down'></i></span></div>
                </div>
            </a>

            <div id="blockbreak" class="collapse show section-card card-review">

                <table class="table table-bordered">

                    <tbody>

                    <tr class="section-review">
                        <td colspan="3"><b>Week 7</b>
                        </td>
                    </tr>

                    {% include "lectures/week7.html" %}


                    </tbody>
                </table>
            </div>

            <!--- HW4 --->

            <a data-toggle="collapse" data-target="#block4">
                <div class="card-header section-testing">
                    <div>
                        4 - WebSockets<span class="float-right"><i
                            class='far fa-caret-square-down'></i></span></div>
                </div>
            </a>

            <div id="block4" class="collapse show section-card card-testing">

                <table class="table table-bordered">

                    <tbody>

                    <tr class="homework">
                         <td colspan="3">
                            <a href="https://docs.google.com/document/d/1YH1-UixygmoKSjKZh6raoUwCb3jZbVPrsKosiD-4A3k/edit?usp=sharing">Homework 4</a>
                        </td>
                    </tr>

                    <tr class="section-week">
                        <td colspan="3"><b>Week 8</b>
                        </td>
                    </tr>

                    {% include "lectures/week8.html" %}

                    <tr class="section-week">
                        <td colspan="3"><b>Week 9</b>
                        </td>
                    </tr>

                    {% include "lectures/week9.html" %}


                    </tbody>
                </table>
            </div>

            <!--- HW5 --->

            <a data-toggle="collapse" data-target="#block5">
                <div class="card-header section-testing">
                    <div>
                        5 - Authentication<span class="float-right"><i
                            class='far fa-caret-square-down'></i></span></div>
                </div>
            </a>

            <div id="block5" class="collapse show section-card card-testing">

                <table class="table table-bordered">

                    <tbody>

                    <tr class="homework">
                         <td colspan="3">
                            <a href="https://docs.google.com/document/d/1sjtdoxap8WjXPi7JItFf8Q8AiHVVff28WD94jWuFoKo/edit?usp=sharing">Homework 5</a>
                        </td>
                    </tr>

                    <tr class="section-week">
                        <td colspan="3"><b>Week 10</b>
                        </td>
                    </tr>

                    {% include "lectures/week10.html" %}

                    <tr class="section-week">
                        <td colspan="3"><b>Week 11</b>
                        </td>
                    </tr>


                    {% include "lectures/week11.html" %}


                    </tbody>
                </table>
            </div>

            <!--- Project --->

            <a data-toggle="collapse" data-target="#blockx">
                <div class="card-header section-review">
                    <div>
                        Web Apps<span class="float-right"><i
                            class='far fa-caret-square-down'></i></span></div>
                </div>
            </a>

            <div id="blockx" class="collapse show section-card card-review">

                <table class="table table-bordered">

                    <tbody>

                    <tr class="section-review">
                        <td colspan="3"><b>Week 12</b>
                        </td>
                    </tr>


                    {% include "lectures/week12.html" %}

                    <tr class="section-review">
                        <td colspan="3"><b>Week 13</b>
                            {#                            <span class="float-right"><a class="hw-link" target="_blank" href="_______">Project 3</a></span>#}
                        </td>
                    </tr>


                    {% include "lectures/week13.html" %}


                    <tr class="section-review">
                        <td colspan="3"><b>Week 14</b></td>
                    </tr>


                    {% include "lectures/week14.html" %}


                    </tbody>
                </table>
            </div>

            {#                    <tr class="section-week">#}
            {#                        <td colspan="3"><del><b>Project Presentations: Friday, May 15 | Talbert 107 | 8-11am</b></del></td>#}
            {#                    </tr>#}
            {##}
            {#                    <tr class="table-warning">#}
            {#                        <td colspan="3">Friday, May 15 @ 11:59pm#}
            {#                            <span class="float-right">Project Presentation Video Due</span>#}
            {#                        </td>#}
            {#                    </tr>#}
            {##}
            {#                    </tbody>#}
            {#                </table>#}
            {#            </div>#}


        </div>


        <div class="col-0 col-sm-0 col-md-1"></div>

        {#        <div class="col-0 col-sm-3 col-md-4 right-side-bar" id="chatSidebar" hidden>#}
        {#            <div id="chat"></div>#}
        {#            <br/>#}
        {##}
        {#            <form class="form-inline" onkeypress="return event.keyCode !== 13">#}
        {#                <div class="form-group row">#}
        {#                    <button type="button" class="btn-sm btn-primary" onclick="sendMessage()">Send</button>&nbsp;#}
        {#                    <input type="text" class="form-control" id="chatInput">#}
        {#                </div>#}
        {#            </form>#}
        {#        </div>#}

    </div>

</div>


<script src="/static_files/lib/jquery-3.3.1.min.js"></script>
<script src="/static_files/lib/popper-1.12.9.min.js"></script>
<script src="/static_files/lib/bootstrap-4.0.0.min.js"></script>
<script src="/static_files/lib/socket.io-2.2.0.js"></script>
<script src="/static_files/lib/fontawesome.js"></script>

<script>
    function collapse() {
        for (let x of document.getElementsByClassName("collapse")) {
            if (localStorage.getItem(x.id) === "hide") {
                x.setAttribute("class", "collapse");
            }
        }
        for (let x of document.getElementsByTagName("a")) {
            if (x.getAttribute("data-toggle")) {
                x.addEventListener("click", function () {
                    const elem = document.getElementById(x.getAttribute("data-target").replace("#", ""));
                    if (elem.classList.contains("show")) {
                        localStorage.setItem(elem.id, "hide");
                    } else {
                        localStorage.removeItem(elem.id);
                    }
                });
            }
        }
    }
</script>

</body>
</html>

