<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CSE312: Web Apps</title>
    <link rel="stylesheet" href="/static_files/lib/bootstrap-4.0.0.min.css">
    <link rel="stylesheet" type="text/css" href="/static_files/UBStyle.css"/>
    <link rel="shortcut icon" type="image/x-icon" href="/static_files/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="static_files/chat.js"></script>
</head>
<body class="outer" onload="collapse();setupSocket();">

<div class="container-fluid">

    <div class="row">
        <div class="col-0 col-sm-0 col-md-0"></div>

        <div class="col-12 col-sm-9 col-md-8">

            <hr/>

            <h1>CSE312: Web Applications</h1>
            <h2>Spring 2020</h2>
            <hr/>


            <a href="https://autograder.cse.buffalo.edu/courses/CSE312-s20/assessments" target="_blank">
                <img src="static_files/autolab.svg" class="img-responsive" height="45px"/></a>&nbsp;&nbsp;

            <a href="https://piazza.com/class/k5o2v2ppshw4bs" target="_blank">
                <img src="static_files/piazza.png" class="img-responsive" height="45px"/></a>&nbsp;&nbsp;

            <a href="https://www.youtube.com/channel/UCxB_9AWzBvp4mWSk8zpFU6g/videos" target="_blank">
                <img src="static_files/youtube.png" class="img-responsive" height="45px"/></a>&nbsp;&nbsp;

            <a href="https://discord.gg/HEdxdzp" target="_blank">
                <img src="static_files/discord2.png" class="img-responsive" height="45px"/></a>&nbsp;&nbsp;

            <a href="https://www.twitch.tv/hartloff" target="_blank">
                <img src="static_files/twitch.png" class="img-responsive" height="45px"/></a>&nbsp;&nbsp;

            <hr/>


            <div class="card">
                <a data-toggle="collapse" data-target="#syllabus">
                    <div class="card-header section-header">
                        <h5>
                            Syllabus
                        </h5>
                    </div>
                </a>

                <div id="syllabus" class="collapse show">
                    <div class="card-body">
                        {% include "syllabus.html" %}
                    </div>
                </div>
            </div>

            <hr/>


            <div class="card">
                <a data-toggle="collapse" data-target="#homework">
                    <div class="card-header section-header">
                        <h5>
                            Homework
                        </h5>
                    </div>
                </a>

                <div id="homework" class="collapse show">
                    <div class="card-body">
                        {% include "homework.html" %}
                    </div>
                </div>

            </div>


            <hr/>


            <div class="card">
                <a data-toggle="collapse" data-target="#project">
                    <div class="card-header section-header">
                        <h5>
                            Project
                        </h5>
                    </div>
                </a>

                <div id="project" class="collapse show">
                    <div class="card-body">
                        {% include "project.html" %}
                    </div>
                </div>

            </div>


            <hr/>


            <a data-toggle="collapse" data-target="#schedule">
                <div class="card-header section-header">
                    <h5>
                        Schedule
                    </h5>
                </div>
            </a>

            <div id="schedule" class="collapse show">
                <table class="table table-bordered">

                    <tbody>
                    <tr class="section-week">
                        <td colspan="3"><b>Week 1</b>
                            <span class="float-right"><a class="hw-link" target="_blank" href="https://docs.google.com/document/d/1s2aCtIZFQmLoUzbjFPw4KOdMxLeRuQxmUc5_lV8LXIY/edit?usp=sharing">HW1: Front End</a></span>
                        </td>
                    </tr>

                    {% include "lectures/week1.html" %}

                    <tr class="section-week">
                        <td colspan="3"><b>Week 2</b>
                            <span class="float-right"><a class="hw-link" target="_blank" href="https://docs.google.com/document/d/1-j6ydEnC8-e-PkVCcF2E2ZnRNN07tmZZJLvJqKhVyqg/edit?usp=sharing">HW2: Hello World</a></span>
                        </td>
                    </tr>


                    {% include "lectures/week2.html" %}

                    <tr class="section-week">
                        <td colspan="3"><b>Week 3</b>
                            <span class="float-right"><a class="hw-link" target="_blank" href="https://docs.google.com/document/d/1T4AdY_eZVmfoW-Wtt1JsnU8w9EDIwvpnQmpPeYm2fwM/edit?usp=sharing">HW3: HTTP GET</a></span>
                        </td>
                    </tr>

                    {% include "lectures/week3.html" %}

                    <tr class="section-week">
                        <td colspan="3"><b>Week 4</b>
                            <span class="float-right"><a class="hw-link" target="_blank" href="https://docs.google.com/document/d/1iRKpTXW8qdhr9mCQ0HTm3e-pIj_lt4_ERQ98kc9hcAM/edit?usp=sharing">HW4: HTTP POST</a></span>
                        </td>
                    </tr>


                    {% include "lectures/week4.html" %}

                    <tr class="section-week">
                        <td colspan="3"><b>Week 5</b>
                            <span class="float-right"><a class="hw-link" target="_blank" href="https://docs.google.com/document/d/1Guwc_359CGvJmCbuhQDRLl7LlHKLPVeM2nSRIdlmdgA/edit?usp=sharing">HW5: AJAX</a></span>
                        </td>
                    </tr>

                    {% include "lectures/week5.html" %}


                    <tr class="section-week">
                        <td colspan="3"><b>Week 6</b>
{#                            <span class="float-right"><a class="hw-link" target="_blank" href="_______">Project 1</a></span>#}
                        </td>
                    </tr>


                    {% include "lectures/week6.html" %}

                    <tr class="section-week">
                        <td colspan="3"><b>Week 7</b>
                            <span class="float-right"><a class="hw-link" target="_blank" href="https://docs.google.com/document/d/1uVTO7cSmbv4HTNGfJzjWSrsgZ9WzWBEe9h48nTAt8gg/edit?usp=sharing">HW6: WebSockets</a></span>
                        </td>
                    </tr>

                    {% include "lectures/week7.html" %}


                    <tr>
                        <td colspan="3"><b>Spring Break</b></td>
                    </tr>


                    <tr class="section-week">
                        <td colspan="3"><b>Week 8</b>
                            <span class="float-right"><a class="hw-link" target="_blank" href="https://docs.google.com/document/d/19pZEVU8i-D1J3WlnNW9n6Om22bRDB25Zu1uxFUfMI-M/edit?usp=sharing">HW7: HTTPS</a></span>
                        </td>
                    </tr>

                    {% include "lectures/week8.html" %}

                    <tr class="section-week">
                        <td colspan="3"><b>Week 9</b>
{#                            <span class="float-right"><a class="hw-link" target="_blank" href="_______">Project 2</a></span>#}
                        </td>
                    </tr>

                    {% include "lectures/week9.html" %}


                    <tr class="section-week">
                        <td colspan="3"><b>Week 10</b>
                            <span class="float-right"><a class="hw-link" target="_blank" href="https://docs.google.com/document/d/1Fw1EmYjv_0nR1CJiy_uVByEOmX6tQ8Kd2DbCozYN2bU/edit?usp=sharing">HW8: Authentication</a></span>
                        </td>
                    </tr>

                    {% include "lectures/week10.html" %}

                    <tr class="section-week">
                        <td colspan="3"><b>Week 11</b>
                            <span class="float-right"><del>HW9: Front End 2</del></span>
                        </td>
                    </tr>


                    {% include "lectures/week11.html" %}


                    <tr class="section-week">
                        <td colspan="3"><b>Week 12</b>
                            <span class="float-right"><a class="hw-link" target="_blank" href="https://docs.google.com/document/d/1m5u5_eDNdaC1DtoiNFUM1iXaV53gXXCpxarXNhtezUg/edit?usp=sharing">HW10: Streaming</a></span>
                        </td>
                    </tr>


                    {% include "lectures/week12.html" %}

                    <tr class="section-week">
                        <td colspan="3"><b>Week 13</b>
{#                            <span class="float-right"><a class="hw-link" target="_blank" href="_______">Project 3</a></span>#}
                        </td>
                    </tr>


                    {% include "lectures/week13.html" %}


                    <tr class="section-week">
                        <td colspan="3"><b>Week 14</b></td>
                    </tr>


                    {% include "lectures/week14.html" %}


                    <tr class="section-week">
                        <td colspan="3"><del><b>Project Presentations: Friday, May 15 | Talbert 107 | 8-11am</b></del></td>
                    </tr>

                    <tr class="table-warning">
                        <td colspan="3">Friday, May 15 @ 11:59pm
                            <span class="float-right">Project Presentation Video Due</span>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>


        </div>

        <div class="col-0 col-sm-3 col-md-4 right-side-bar" id="chatSidebar" hidden>
            <div id="chat"></div>
            <br/>

            <form class="form-inline" onkeypress="return event.keyCode !== 13">
                <div class="form-group row">
                    <button type="button" class="btn-sm btn-primary" onclick="sendMessage()">Send</button>&nbsp;
                    <input type="text" class="form-control" id="chatInput">
                </div>
            </form>
        </div>
    </div>

</div>


<script src="/static_files/lib/jquery-3.3.1.min.js"></script>
<script src="/static_files/lib/popper-1.12.9.min.js"></script>
<script src="/static_files/lib/bootstrap-4.0.0.min.js"></script>
<script src="/static_files/lib/socket.io-2.2.0.js"></script>

<script>
    function collapse() {
        for(let x of document.getElementsByClassName("collapse")) {
            if (localStorage.getItem(x.id) === "hide") {
                x.setAttribute("class", "collapse");
            }
        }
        for(let x of document.getElementsByTagName("a")){
            if(x.getAttribute("data-toggle")) {
                x.addEventListener("click", function () {
                    const elem = document.getElementById(x.getAttribute("data-target").replace("#", ""));
                    if(elem.classList.contains("show")){
                        localStorage.setItem(elem.id, "hide");
                    }else{
                        localStorage.removeItem(elem.id);
                    }
                });
            }
        }
    }
</script>

</body>
</html>

