<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CSE312: Web Apps</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static_files/UBStyle.css"/>
    <link rel="shortcut icon" type="image/x-icon" href="/static_files/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <script src="static_files/chat.js"></script>
</head>
<body class="outer" onload="setupSocket();">
<div class="container">

    <div class="row">
        <div class="col-0 col-sm-0 col-md-1"></div>

        <div class="col-10 col-sm-10 col-md-8">

            <hr/>

            <h2>CSE312 - Summer 2019</h2>
            <hr/>



            <h3>Schedule</h3>

            <p>
                This schedule is subject to change throughout the semester.
            </p>

            <div id="block1">
                <table class="table table-bordered">

                    <tbody>
                    <tr class="text-white bg-primary">
                        <td colspan="3"><b>Lecture 1</b></td>
                    </tr>

                    {% include "lectures/lecture1.html" %}

                    <tr class="text-white bg-primary">
                        <td colspan="3"><b>Lecture 2</b></td>
                    </tr>


                    {% include "lectures/lecture2.html" %}

                    <tr class="text-white bg-primary">
                        <td colspan="3"><b>Lecture 3</b></td>
                    </tr>


                    {% include "lectures/lecture3.html" %}

                    <tr class="text-white bg-primary">
                        <td colspan="3"><b>Lecture 4</b></td>
                    </tr>


                    {% include "lectures/lecture4.html" %}

                    <tr class="text-white bg-primary">
                        <td colspan="3"><b>Lecture 5</b></td>
                    </tr>


                    {% include "lectures/lecture5.html" %}

                    <tr class="text-white bg-primary">
                        <td colspan="3"><b>Lecture 6</b></td>
                    </tr>


                    {% include "lectures/lecture6.html" %}

                    <tr class="text-white bg-primary">
                        <td colspan="3"><b>Lecture 7</b></td>
                    </tr>


                    {% include "lectures/lecture7.html" %}

                    <tr class="text-white bg-primary">
                        <td colspan="3"><b>Lecture 8</b></td>
                    </tr>


                    {% include "lectures/lecture8.html" %}

                    <tr class="text-white bg-primary">
                        <td colspan="3"><b>Lecture 9</b></td>
                    </tr>


                    {% include "lectures/lecture9.html" %}

                    <tr class="text-white bg-primary">
                        <td colspan="3"><b>Lecture 10</b></td>
                    </tr>


                    {% include "lectures/lecture10.html" %}

                    <tr class="text-white bg-primary">
                        <td colspan="3"><b>Lecture 11</b></td>
                    </tr>


                    {% include "lectures/lecture11.html" %}

                    <tr class="text-white bg-primary">
                        <td colspan="3"><b>Lecture 12</b></td>
                    </tr>


                    {% include "lectures/lecture12.html" %}

                    </tbody>
                </table>

            </div>

            <hr/>

            <div class="card">
                <a data-toggle="collapse" data-target="#syllabus">
                    <div class="card-header text-white section-header">
                        <h5>
                            Syllabus
                        </h5>
                    </div>
                </a>

                <div id="syllabus">
                    <div class="card-body">
                        {% include "syllabus.html" %}
                    </div>
                </div>

            </div>
        </div>

        <div class="col-2 col-sm-2 col-md-3" id="chatSidebar" hidden><input type="text" width="20" id="chatInput"><button onclick="sendMessage()">Send</button><div id="chat"></div></div>
    </div>
</div>

<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>
</html>