<div class="card border-dark mb-3">


    <div class="card-body">

        <h3 class="card-title">Overview</h3>

{#        <p>#}
{#            For the homework in this course you will develop a web server that is divided into 4#}
{#            assignments. Each assignment will add more features to your server. Each assignment will be equally#}
{#            weighted.#}
{#        </p>#}

        <p>
            Each assignment will be a programming/development assignment with a submission of your software on AutoLab,
            though there will be <b>little/no automated grading in this course</b>. You will submit
            all of the code and files that comprise your software on AutoLab in a single zip file.
        </p>

        <p>The following apply to all homework assignments except where exceptions are explicitly stated:</p>
        <ul>
            <li>You may choose any programming language you prefer</li>
            <li>No external libraries or frameworks are allowed if the library implements functionality that we
                covered in class (TCP and concurrency exception below for certain languages)</li>
            <li>Any libraries/packages/classes/functions/etc included with your language of choice that complete part
                of an assignment - related to the course content - for you are not allowed. This includes any and all
                HTTP libraries and frameworks</li>
            <li>Code included with your language of choice that handles TCP socket servers and concurrency are allowed.
                Most assignments will start with a TCP socket server upon which you'll develop a web server. Industry
                standard external libraries for TCP and concurrency are allowed if they are common in the community
                for your language (Ex. Akka for Scala).</li>
            <li>If you have any question whether or not something is allowed, please ask <b>before</b> the assignment is
            due. In general, if I explained something in detail during lecture then you must write all the code that
                implements those details.</li>
        </ul>

    </div>

</div>