<div class="card border-dark mb-3">


    <div class="card-body">

        <h3 class="card-title">Overview</h3>

        <p>
            For the homework in this course you will develop a web server from scratch that is divided into 5
            assignments. Each assignment will add more features to your server. Each assignment will be equally
            weighted.
        </p>

        <p>
            Each assignment will be a programming/development assignment with a submission of your software and
            documentation on AutoLab, though there will be <b>no automated grading in this course</b>. You will submit
            all of the code and files that comprise your software on AutoLab in a single zip file.

        </p>

        <p>The following apply to all homework assignments except where exceptions are explicitly stated:</p>
        <ul>
            <li>You may choose any programming language you prefer</li>
            <li>No external libraries or frameworks are allowed (TCP and concurrency exception below for certain languages)</li>
            <li>Any libraries/packages/classes/functions/etc included with your language of choice that complete part
                of an assignment - related to the course content - for you are not allowed. This includes any and all
                HTTP libraries and frameworks</li>
            <li>Code included with your language of choice that handles TCP socket servers and concurrency are allowed.
                Most assignments will start with a TCP socket server upon which you'll develop a web server. Industry
                standard external libraries for TCP and concurrency are allowed if they are common in the community
                for your language (Ex. Akka for Scala).</li>
            <li>If you have any question whether or not something is allowed, please ask <b>before</b> the assignment is
            due. In general, if I explained something in detail during lecture then you must write all the code that
                handles those details.</li>
        </ul>

    </div>

</div>


<div class="card border-dark mb-3">
    <div class="card-body">
        <h3 class="card-title">Documentation</h3>

        <p>
            Your homework must be accompanied by report in the root directory of your zip file names "report.txt".
            This report will serve as documentation for the course staff to understand your code during grading and
            you will expand this file for each of the 5 submissions. Your reports must include:
        </p>
        <ul>
            <li>
                The architecture of your software
            </li>
            <ul>
                <li>
                    Describe how you completed the objectives of the assignment, how your software is structured, and
                    why you made the design decisions you made. A reader should have a good understanding of your
                    software by reading this section without looking at a single line of your code
                </li>
            </ul>
        </ul>


    </div>
</div>


<div class="card border-dark mb-3">
    <div class="card-body">
        <h3 class="card-title">Makeup Opportunities</h3>

        <p>
            Since each homework submission builds on the previous submissions you will find yourself working on past
            assignments if you were not able to complete them on time. To compensate for this, your can earn back half
            of points you missed on each assignment if you complete the assignment before the next HW's due date. For
            HW5, the makeup deadline is 2 weeks after the original deadline.
        </p>

        <p>
            Example: You earn a 60% on HW2 at the time of it's deadline. Before the HW3 deadline you are able to
            complete enough of HW2 to earn a 90% on it. You then recover half of the missed points that you completed
            and your final HW2 grade becomes a 75%.
        </p>


    </div>
</div>
