Project Structure

Use any frameworks/etc

Requirements

User Accounts
-Secure Authentication (No login with X)
-Secure storage of credentials and management of tokens
-User account information that persists across sessions

Live User Interactions
-Users can interact with each other live
-Some history of interactions persist
-!This must be more than chat!

Deployment
-The app is available on the Internet
-Deployment needs to be managed an maintained (maybe wait til spring)

App features
-Submit You idea on Tuesday
-You must complete a good portion of your proposed feature set for these points
-Don’t need all, so dream big
-If your idea is too small I’ll kick it back

Presentation
-