
<div class="card border-dark mb-3">
    <div class="card-body">
        <h3 class="card-title">Requirements</h3>

        <h5>User Accounts</h5>

        <p>
            You web app must support user accounts. A user should be able to create an account on your site and log into
            this account. Each user must have a user profile that they can edit. When the user is logged in, there must
            be some aspect of the site that is specific to them and their profile.
        </p>

        <p>
            The use of 3rd party authentication is not allowed (Ex. You cannot use "login with Google"). You must
            securely store user passwords in your own database.
        </p>


        <hr/>

        <h5>Live User Interactions</h5>

        <p>
            You users must be able to interact with each other in real-time. Some aspect of these interactions must
            persist after a server restart.
        </p>

        <p>
            These interactions must be more involved than a chat room. Specific ideas are subject to approval after the
            submission of your app idea.
        </p>

        <hr/>

        <h5>Deployment</h5>

        <p>
            Your web app must be available on the Internet. It is ok for it be accessible through an IP address or
            through a free hosting service (ie. Purchasing a domain name is not required).
        </p>

        <hr/>

        <h5>App Features</h5>

        <p>
            You must complete a reasonable amount of the features proposed in your app idea. You don't have to complete
            everything so feel free to dream big on your idea and know that you won't have to complete the entire
            project. In contrast, if your idea is too minimal you may be asked to add features after your idea is
            reviewed.
        </p>

        <hr/>

        <h5>Presentation</h5>

        <p>
            On the last day of class you present you app to the class. During this presentation the entire class should
            be able to access and use the deployed version of your app. You should explain your app from the user
            perspective as well as explain what technologies, frameworks, and libraries you used to develop your app.
        </p>

    </div>
</div>