<div class="card border-dark mb-3">

    <div class="card-body">
        <h3 class="card-title">Course Description</h3>

        <p class="card-text">
            Covers the fundamentals of full-stack web development and deployment with a strong emphasis on server-side
            code and functionality. Students will develop a full-stack web application without the use of a pre-existing
            web server or web framework. Topics include HTTP, APIs, AJAX, databases, encryption, authentication,
            sockets, privacy, and security.
        </p>

    </div>
</div>



<div class="card border-dark mb-3">

    <div class="card-body">
        <h3 class="card-title">Expectations</h3>
        <p class="card-text">
            To do well in this course you are expected to:
        </p>
        <ul>
            <li>
                Have a desire to learn about Web Applications
            </li>
            <li>
                Be able to develop software with little guidance
            </li>
            <li>
                Be able to find, read, and understand technical documentation
            </li>
            <li>
                Spend a minimum of 12 hours/week on CSE312
            </li>
        </ul>
    </div>

</div>


<div class="card border-dark mb-3">

    <div class="card-body">
        <h3 class="card-title">Grading</h3>
        <p class="card-text">

        <p>
            Your final grade will be determined by the following percentages:
        </p>

        <table class="table table-bordered table-skinny">
            <tr>
                <td>Lecture Questions</td>
                <td>10%</td>
            </tr>
            <tr>
                <td>Homework</td>
                <td>60%</td>
            </tr>
            <tr>
                <td>Team Project</td>
                <td>20%</td>
            </tr>
            <tr>
                <td>Team Project Presentation</td>
                <td>10%</td>
            </tr>
        </table>

        <br/>

        <p>
            Your final letter grade will be determined by the following cutoffs:
        </p><br/>

        <table class="table table-bordered table-skinny">
            <tr>
                <td>92%+</td>
                <td>A</td>
            </tr>
            <tr>
                <td>89% - 92%</td>
                <td>A-</td>
            </tr>
            <tr>
                <td>86% - 89%</td>
                <td>B+</td>
            </tr>
            <tr>
                <td>83% - 86%</td>
                <td>B</td>
            </tr>
            <tr>
                <td>80% - 83%</td>
                <td>B-</td>
            </tr>
            <tr>
                <td>77% - 80%</td>
                <td>C+</td>
            </tr>
            <tr>
                <td>74% - 77%</td>
                <td>C</td>
            </tr>
            <tr>
                <td>70% - 74%</td>
                <td>C-</td>
            </tr>
            <tr>
                <td>< 70%</td>
                <td>F</td>
            </tr>
        </table>

        <br/>
        <p>
            <b>Lecture Questions: </b> Most lecture will contain a simple, usually multiple choice, question for you to
            answer during lecture. Of these questions, 10% of them will be dropped. For example, if we have 40 lecture
            questions throughout the semester, you can miss 4 of them and still earn the full 10% towards your final
            grade.
        </p>

    </div>

</div>




<div id="section3" class="section-marker"></div>
<div class="card border-dark mb-3">
    <div class="card-body">
        <h3 class="card-title">Readings</h3>
        <p>
            There is no textbook for this course. Links to relevant readings and tutorials will be provided
            in the course schedule.
        </p>

    </div>

</div>



<div id="section4" class="section-marker"></div>
<div class="card border-dark mb-3">
    <div class="card-body">
        <h3 class="card-title">University/Department Policies and Services</h3>
        <ul>
            <li>Counseling: <a href="http://www.buffalo.edu/studentlife/who-we-are/departments/counseling.html">http://www.buffalo.edu/studentlife/who-we-are/departments/counseling.html</a>
            </li>
            <li>Accessibility: <a
                    href="http://www.buffalo.edu/studentlife/who-we-are/departments/accessibility.html">http://www.buffalo.edu/studentlife/who-we-are/departments/accessibility.html</a>
            </li>
            <li>Grading: <a href="https://catalog.buffalo.edu/policies/explanation.html">https://catalog.buffalo.edu/policies/explanation.html</a>
            </li>
        </ul>

    </div>

</div>




<div id="section5" class="section-marker"></div>
<div class="card border-dark mb-3">
    <div class="card-body">
        <h3 class="card-title">Academic Integrity</h3>
        <p class="card-text">
        <p>
            CSE Department Academic Integrity Policy: <br/><a
                href="https://engineering.buffalo.edu/computer-science-engineering/information-for-students/undergraduate-program/cse-undergraduate-academic-policies/cse-academic-integrity-policy.html">
            https://engineering.buffalo.edu/computer-science-engineering/information-for-students/undergraduate-program/cse-undergraduate-academic-policies/cse-academic-integrity-policy.html</a>
        </p>
        <p>
            UB Academic Integrity Policy: <br/><a
                href="https://catalog.buffalo.edu/policies/integrity.html">
            https://catalog.buffalo.edu/policies/integrity.html</a>
        </p>
        <p>
            In addition to the department and university policies, the following details apply to this course.
        </p>

        <p>

            All submitted work must be of your own creation and you must not share your submission with anyone else. If
            any submission is very similar to what has been submitted by another student,
            or can be found online, it is in violation of this courses academic integrity policy and all students will
            be penalized whether they were copying or sharing their submission with other students so they can copy. If two
            submissions are similar beyond what is likely if the students worked independently, then <b>both students
            are in violation</b> of the academic integrity policy.
        </p>
        <p>
            All violations will result in:
        </p>

        <div class="row">
            <div class="col-sm-4">
                <div class="text-center alert alert-danger">
                    <h3 style="color:red">An F in CSE312.</h3>
                </div>
            </div>
            <div class="col-sm-8"></div>
        </div>
        <p>
            It is your responsibility to understand what constitutes an academic integrity violation. If you have
            any question whether something you are doing is a violation or not, ask for
            clarification <b>before receiving an F in the course</b>. I will not entertain excuses after you
            have been caught.

        </p>
        <p>
            Examples of acceptable behavior:
        </p>
        <ul>
            <li>Discussing an assignment with your classmates and brainstorming <b>abstract</b> solutions, then writing
                code and documentation independently
            </li>
            <li>Searching the Internet for supplementary material on the course topics</li>
            <li>Asking the teaching staff for clarification on a homework question</li>
            <li>Collaborating with your team mates on the team project</li>
        </ul>

        <p>
            Examples of <b>un</b>acceptable behavior:
        </p>
        <ul>
            <li>Falsifying a homework submission form. Ex. Claiming to have completed an objective that you did not complete.</li>
            <li>Submitting code or other work that is not your own for course credit.</li>
            <li>Allowing another student to see your code or submission for an assignment. (Ex. Sitting side-by-side while working on a homework such that you can see each other screens)</li>
            <li>Collaborating with another student to write code or documentation for a homework assignment.
            </li>
            <li>Allowing another student to access your work that will be submitted for course credit. (Ex. Do not
                post you code publicly, host your code in a public repository, or allow anyone to access your
                laptop)
            </li>
            <li>Copying a large amount of material found on the Internet into your submission.</li>
            <li>Writing project code for a teammate and allowing them to represent it as their own.</li>
        </ul>

    </div>

</div>
