<div class="card border-dark mb-3">

    <div class="card-body">
        <h3 class="card-title">Course Description</h3>

        <p class="card-text">
            Covers the fundamentals of full-stack web development and deployment with a strong emphasis on server-side
            code and functionality. Students will develop a full-stack web application without the use of a pre-existing
            web server or web framework. Topics include HTTP, APIs, AJAX, databases, encryption, authentication,
            sockets, privacy, and security.
        </p>

    </div>
</div>


<div class="card border-dark mb-3">

    <div class="card-body">
        <h3 class="card-title">Grading</h3>
        <p class="card-text">

        <p>
            Your final grade will be determined by the following percentages:
        </p>

        <table class="table table-bordered table-skinny">
            <tr>
                <td>Lecture Activities / Homework</td>
                <td>80%</td>
            </tr>
            <tr>
                <td>Team Project</td>
                <td>20%</td>
            </tr>
        </table>

        <br/>

        <p>
            Your final letter grade will be determined by the following cutoffs. There is no curve:
        </p><br/>

        <table class="table table-bordered table-skinny">
            <tr>
                <td>90%+</td>
                <td>A</td>
            </tr>
            <tr>
                <td>87% - 90%</td>
                <td>A-</td>
            </tr>
            <tr>
                <td>84% - 87%</td>
                <td>B+</td>
            </tr>
            <tr>
                <td>80% - 84%</td>
                <td>B</td>
            </tr>
            <tr>
                <td>77% - 80%</td>
                <td>B-</td>
            </tr>
            <tr>
                <td>74% - 77%</td>
                <td>C+</td>
            </tr>
            <tr>
                <td>70% - 74%</td>
                <td>C</td>
            </tr>
            <tr>
                <td>67% - 70%</td>
                <td>C-</td>
            </tr>
            <tr>
                <td>64% - 67%</td>
                <td>D+</td>
            </tr>
            <tr>
                <td>60% - 64%</td>
                <td>D</td>
            </tr>
            <tr>
                <td>< 60%</td>
                <td>F</td>
            </tr>
        </table>

        <br/>


        <hr/>
        <h4>Lecture Activities / Homework</h4>

        <p>
            Most lectures will include an activity that you will work on during lecture. This will be done in a lab-like
            environment where you can ask the instructor questions and receive guidance on the activity. If you do not
            complete the activity before the end of lecture you can finish it as homework and it will be due at the
            beginning of the next lecture.
        </p>

        <p>
            All activities will be equally weighted.
        </p>


        <hr/>
        <h4>Team Project</h4>

        <p>
            You will also form teams and develop a web application of your choosing. Projects will be graded through a
            live demonstration on the last day of class.
        </p>


    </div>

</div>

<div id="section2" class="section-marker"></div>
<div class="card border-dark mb-3">
    <div class="card-body">
        <h3 class="card-title">Instructor</h3>
        <p>
            Instructor: Dr. Jesse Hartloff<br/>
            Office: Davis 344<br/>
            Office Hours: Thursday 1:00 PM - 2:20 PM
        </p>

        <p>
            In addition to office hours I will answer questions before and after each lecture.
        </p>
    </div>
</div>

<div id="section3" class="section-marker"></div>
<div class="card border-dark mb-3">
    <div class="card-body">
        <h3 class="card-title">Readings</h3>
        <p>
            There is no textbook for this course. Instead, links to relevant readings and tutorials will be provided
            in the course schedule. When a reading is listed you should study it before lecture to be prepared for the
            lecture question.
        </p>

    </div>

</div>

<div id="section4" class="section-marker"></div>
<div class="card border-dark mb-3">
    <!--<div class="card-header">University/Department Policies and Services</div>-->
    <div class="card-body">
        <h3 class="card-title">University/Department Policies and Services</h3>
        <ul>
            <li>Counseling: <a href="http://www.buffalo.edu/studentlife/who-we-are/departments/counseling.html">http://www.buffalo.edu/studentlife/who-we-are/departments/counseling.html</a>
            </li>
            <li>Accessibility: <a
                    href="http://www.buffalo.edu/studentlife/who-we-are/departments/accessibility.html">http://www.buffalo.edu/studentlife/who-we-are/departments/accessibility.html</a>
            </li>
            <li>Grading: <a href="https://catalog.buffalo.edu/policies/explanation.html">https://catalog.buffalo.edu/policies/explanation.html</a>
            </li>
        </ul>

    </div>

</div>

<div id="section5" class="section-marker"></div>

<div class="card border-dark mb-3">
    <!--<div class="card-header">Academic Integrity</div>-->
    <div class="card-body">
        <h3 class="card-title">Academic Integrity</h3>
        <p class="card-text">
        <p>
            CSE Department Academic Integrity Policy: <br/><a
                href="http://engineering.buffalo.edu/computer-science-engineering/information-for-students/policies/academic-integrity.html">
            http://engineering.buffalo.edu/computer-science-engineering/information-for-students/policies/academic-integrity.html</a>
        </p>
        <p>
            UB Academic Integrity Policy: <br/><a
                href="https://catalog.buffalo.edu/policies/integrity.html">
            https://catalog.buffalo.edu/policies/integrity.html</a>
        </p>

    </div>

</div>
