{% extends 'hw/hw.html' %}

{% block title %}CSE312: Homework 1{% endblock %}

{% block header %}
    <h1>Homework 1 - HTTP</h1>
    <hr/>
{% endblock %}

{% block task %}


    <div class="card-header section-testing">
        <div></div>
    </div>

    <div class="section-card card-testing hw-content">

        <hr/>
        <h3>
            Introduction
        </h3>
        <hr/>
        <p>
            In this assignment you will build the foundation of the server that you will develop throughout the
            semester. All 4 homework assignments will continue to build on the same web app. The front end of the app
            will be provided to you, and we will release new features to the front end for each homework. You can
            clone the starter code for this assignment using the link below.
        </p>
        <p>
            GitHub Repository link: <a href="https://github.com/CSE-312/CSE312-Server">https://github.com/CSE-312/CSE312-Server</a>
        </p>

        <p>
            Sample Deployment: <a href="https://312demo.nico.engineer/">https://312demo.nico.engineer/</a>
        </p>
        <p>
            You should never need to modify this front end. The grader in Autolab will simulate this front end code so
            any changes you make may affect the grading of your submissions (ie. Do not change the front end to fix your
            issues). Your tasks throughout the 5 homework assignments will be to build the corresponding end points
            on the back end that are called by the front end.
        </p>

        <hr/>
        <h3>
            Learning Objective - Hosting Files and Guest Chat
        </h3>
        <hr/>

        <p>
            This section outlines all the requirements for the learning objective portion of this assignment. You must
            complete all of these requirements. The learning objective is autograded in Autolab and you may submit as
            many times as you need until you earn credit.
        </p>

        <p>
            This learning objective will guide you through building the foundation of a server that understands HTTP,
            communicates with a database, implements a chat feature, and utilizes cookies to track user sessions.
        </p>

        <br>
        <h4>The Request Class</h4>

        <p>
            Complete the Request class in the util package of the starter code. The constructor has been set up and
            contains
            all the instance variables that should be populated by parsing the input which will be an HTTP request in
            bytes. Your
            task is to parse the bytes and set the 'body', 'method', 'path', 'http_version', 'headers', and 'cookies'
            instance
            variables. Note that the body must be set as bytes while the other values will be set as str's (headers and
            cookies will map str to str). More details about each instance variable:
        </p>

        <ul>
            <li>body
                <ul>
                    <li>
                        All the content of the body of the request as bytes
                    </li>
                    <li>
                        Ideally, the bytes of the body should never be converted to a str. It's recommended that you
                        look for the first b"\r\n\r\n" and treat everything after that as the body before parsing any
                        headers, which should be parsed as string since they are ASCII-only. If you convert the body
                        to a string, you will have to fix this in HW3 when you handle image and video uploads
                    </li>
                </ul>
            </li>
            <li>method
                <ul>
                    <li>
                        The HTTP method from the request line
                    </li>
                </ul>
            </li>
            <li>path
                <ul>
                    <li>
                        The path from the request line
                    </li>
                </ul>
            </li>
            <li>http_version
                <ul>
                    <li>
                        The HTTP version from the request line. You should parse this anyway, but it will always be
                        "HTTP/1.1" in this course
                    </li>
                </ul>
            </li>
            <li>headers
                <ul>
                    <li>
                        The headers variable is a dictionary that must be populated with all the headers of the
                        request where the
                        keys in the dictionary are the names of each header and the values are the header values. You
                        must parse all
                        the headers of the request and add them all to this dictionary
                    </li>
                    <li>Technical note: HTTP requests are allowed to
                        contain multiple headers with the same name. This means it's not 100% correct to store headers
                        in a dictionary,
                        but this will serve our purposes in this course while avoiding an increase in complexity
                    </li>
                </ul>
            </li>

            <li>cookies
                <ul>
                    <li>
                        If there is a Cookie header, all cookies must be parsed and stored in the cookies dictionary as
                        Strings (The
                        dictionary will map str to str). Your parser must support multiple cookies. Be sure to remove
                        any
                        leading/trailing white space from the cookie names and values.
                    </li>
                    <li> Note: The raw Cookies header should still be in your headers dictionary even after parsing the
                        individual
                        cookies in the cookies dictionary.
                    </li>
                </ul>
            </li>
        </ul>

        <p>
            Something to keep in mind, for the Request, Response, and Router classes, you must <b>not access any files or call any functions that access any files</b>. 
            The first round tests that we run on your classes do not have access to your folder structure, and thus will throw an error if you try to open any files.
        </p>

        <br>
        <h4>The Response Class</h4>

        <p>
            Create a Response class in the util package of the starter code. Unlike the Request class, there are no
            specific instance variables that need to be set. Instead, the spec is to write specific methods (You will
            need instance variables to write these methods, but you may choose their names and they won't be accessed by
            the grader)
        </p>

        <p>In the response class, implement the following methods:</p>

        <ul>
            <li>__init__(self)
                <ul>
                    <li>
                        The constructor must not take any parameters (Other than self). You may initialize any instance
                        variables you'd like in this constructor in order to complete the other methods.
                    </li>
                    <li>
                        Be careful not to use any of these method names as your variable names. For example, naming an
                        instance variable "headers" will confuse python and make it think that you're trying to call the
                        variable when you call the method
                    </li>
                </ul>
            </li>

            <li>set_status(self, code, text)
                <ul>
                    <li>
                        Takes an int and a str
                    </li>
                    <li>
                        returns self (This will be true for most of these methods. Returning a reference to the calling
                        object
                        allows you to chain together calls)
                    </li>
                    <li>
                        Sets the status code and message for the response.
                    </li>
                    <li>
                        If this method is never called, the code and message should default to "200 OK"
                    </li>
                </ul>
            </li>

            <li>headers(self, headers)
                <ul>
                    <li>
                        Takes a dict of str to str
                    </li>
                    <li>
                        returns self
                    </li>
                    <li>
                        Adds all the key-value pairs from the input dict as headers to the response
                    </li>
                    <li>
                        If this method is called multiple times, all headers across all calls must be part of the
                        response
                    </li>
                    <li>
                        Note: We will not test this method with multiple headers that have the same name
                    </li>
                </ul>
            </li>

            <li>cookies(self, cookies)
                <ul>
                    <li>
                        Takes a dict of str to str
                    </li>
                    <li>
                        returns self
                    </li>
                    <li>
                        Adds all the key-value pairs from the input dict as cookies to the response. Each cookie
                        provided
                        must be set using the appropriate headers
                    </li>
                    <li>
                        If this method is called multiple times, all cookies across all calls must be part of the
                        response
                    </li>
                    <li>
                        If a cookie has any directives, they will be part of its value in the input (ie. you don't have
                        to do anything special for directives in this method)
                    </li>
                </ul>
            </li>

            <li>bytes(self, data)
                <ul>
                    <li>
                        Takes bytes
                    </li>
                    <li>
                        returns self
                    </li>
                    <li>
                        Appends the input to the end of the body of the response
                    </li>
                    <li>
                        If this method is called multiple times, all bytes must be appended to the body. This method can
                        be combined with the text method
                    </li>
                </ul>
            </li>

            <li class="h">binary
                <ul>
                    <li>
                        Takes a str
                    </li>
                    <li>
                        returns self
                    </li>
                    <li>
                        Appends the input to the end of the body of the response in binary
                    </li>
                    <li>
                        Each character in the input string should be converted into a binary string before being
                        appended to the body
                    </li>
                </ul>
            </li>

            <li>text(self, data)
                <ul>
                    <li>
                        Takes a str
                    </li>
                    <li>
                        returns self
                    </li>
                    <li>
                        Appends the input to the end of the body of the response as bytes
                    </li>
                    <li>
                        If this method is called multiple times, all text must be appended to the body. This method can
                        be combined with the bytes method (ie. calling both text and bytes should result in the text and
                        bytes from all calls appearing in the body as bytes)
                    </li>
                </ul>
            </li>

            <li>json(self, data)
                <ul>
                    <li>
                        Takes either a dict or a list
                    </li>
                    <li>
                        returns self
                    </li>
                    <li>
                        Sets the body of the response to the input converted to json as bytes and sets the Content-Type
                        to "application/json" while overwriting any content that was already in the body (Since
                        appending would break the JSON format)
                    </li>
                    <li>
                        This method should only be called once. Calling it again will replace the old body
                    </li>
                </ul>
            </li>

            <li>to_data(self)
                <ul>
                    <li>
                        Does not take any parameters
                    </li>
                    <li>
                        returns the entire response in bytes. This is the final response that will be sent to the client
                        over the TCP socket
                    </li>
                    <li>
                        The returned bytes must be properly formatted according the HTTP protocol and must contain all
                        headers, cookies, the status code and message, and the body of the response along with the
                        Content-Length header
                    </li>
                    <li>
                        If the Content-Type header was never set using the headers method, it should default to
                        "text/plain; charset=utf-8"
                    </li>
                    <li>
                        The returned bytes may contain addition headers. eg. If you want to disable MIME type sniffing
                        for every response, this class is the place to do it
                    </li>
                </ul>
            </li>
        </ul>

        <br>
        <h4>The Router Class</h4>

        <p>
            You'll set up a Router class that will help you organize the code of your server throughout the semester. It
            is
            recommended that you study the provided hello path from the starter code and write at least one path (eg.
            hosting the HTML file at "GET /") without using the router to gain a better understanding of the structure
            of a
            server before implementing your Router class.
        </p>
        <p>After Homework 1 you are welcome to make changes to the design of your router, but you are required to use a
            router throughout all homework assignments. The organization this router provides will prove useful as your
            server code gains more complexity.
        </p>
        <p>Write a class named Router in a file named util/router.py with the following methods and functionality:
        </p>

        <ul>
            <li>__init__(self)
                <ul>
                    <li>
                        If you use a constructor, it must take no parameters. As with the Response class, you may use
                        the constructor to initialize any instance variables you want to use
                    </li>
                </ul>
            </li>

            <li>add_route(self, method, path, action, exact_path=False)
                <ul>
                    <li>The "add_route" method takes 4 parameters and is used to specify how to route a
                        specific request based on its method and path
                        <ul>
                            <li>The 4 parameters are:
                                <ul>
                                    <li>The HTTP method (str) of the request</li>
                                    <li>The path (str) of the request</li>
                                    <li>A <em>function</em> that takes a Request object, and a TCPHandler as parameters
                                        and does not return anything. This will
                                        be the function that handles request matching the given method and path.
                                        The provided hello_path function is an example of this type of function along
                                        with sample usage of it in server.py
                                    </li>
                                    <li>A boolean indicating if the path must match exactly or begin with the provided
                                        path. This boolean has a default value of False
                                    </li>
                                </ul>
                            </li>
                            <li>The add_route method does not return anything</li>
                            <li>This method is called to add a route to the router. For example, if you have a function
                                named
                                "send_home_page"
                                that takes a Request and a TCPHandler and sends an HTTP response containing the HTML of
                                your home page using the
                                handler that should be called on a GET request for the path "/", you would call
                                add_route("GET",
                                "/",
                                send_home_page, True)
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>


            <li>route_request(self, request, handler)
                <ul>
                    <li>The "route_request" method takes a Request object and a TCPHandler and does not return
                        anything
                    </li>
                    <li>
                        This method will check the method and path of the request, determine which added path
                        should be
                        used, and call
                        the function associated with that path with arguments matching the parameters of this
                        method
                        (eg. forward the
                        Request and TCPHandler to the matching function)
                    </li>
                    <li>If there is no path matching the request, send a 404 Not Found response over the handler. You
                        may choose the message in
                        the body of this response</li>
                    <li>If multiple routes match the request, use the route that was added first with the
                        add_route method
                    </li>
                    <li>When determining if a route is a match, the method and path must both match. If the
                        boolean
                        (from the add_route
                        method) was True, the path must match exactly. If the boolean was False, the path of the
                        request
                        must start with
                        the path for the route for it to be considered a match (eg. add_route("GET",
                        "/public/image/",
                        serve_image) uses
                        the default boolean value of False so a request of "GET /public/image/eagle.jpg" would
                        be routed
                        to the
                        serve_image function
                    </li>

                </ul>
            </li>
        </ul>


        <br>
        <hr>
        <h4>Hosting Static Files</h4>

        <p>
            This is the first task where you'll start adding functionality to your server (The three classes you've
            written will make
            it easier for you develop your server throughout the semester). Review the code in server.py to see how it
            uses your Router and Request classes. Then, add a route to your router that will host all files in the
            public directory.
        </p>

        <p>
            To accomplish this task, you should add a route that will match any path starting with "/public", then
            extract the file path from the rest of the path and serve that files contents in the response. For
            example, if you receive a request for the path "/public/imgs/dog.jpg", you should read the file
            "/public/imgs/dog.jpg", create a Response object, call bytes on the response and give it the contents of the
            file, call to_data to get the final response, then send the response using the handlers send_all method.
        </p>

        <p>
            All files must be served with the correct MIME type. You may use the file extensions to determine these
            MIME types. For this HW, you only need to handle the file extensions that appear in the provided public
            directory. (Note: .ico is an image with MIME type "image/x-icon"). There are 7 total types you need
            to handle.
        </p>

        <p>
            In addition to hosting all the files in the public directory, you will add paths for each of the pages of
            the app. For each of these pages, you will need to render an HTML template (Don't panic, this comes down to
            reading 2 files and doing 1 find and replace). There is an HTML template in "public/layout/layout.html".
            This template contains all the structure of the app including menus, navigation, metadata, imports, etc.
            This template has one placeholder that is exactly the string <nobr>"&#123;&#123;content&#125;&#125;".</nobr> Each html
            file for a page
            will be inserted at this placeholder so the structure does not have to be copied into every file. This
            also makes it easier to make changes to every page on the app since only template.html has to be changed to affect all pages. To render a page, for example "index.html",
            you will read both the layout.html and index.html files, then replace <nobr>"&#123;&#123;content&#125;&#125;"</nobr> from
            the template with
            all the content of index.html to render the full page. This rendered page is what you'll send to the client
            when they request index.html.
        </p>

        <p>
            Add the following special paths that require rendering HTML using layout.html as described above:
        </p>
        <ul>
            <li>"/" - Render index.html</li>
            <li>"/chat" - Render chat.html</li>
        </ul>

        <p>
            At this point, you can run your app and visit
            "http://localhost:8080" in your browser to see the provided front end. We will add more pages in each of the
            homework assignments using the same template.html.
        </p>


        <p>
            Security: The X-Content-Type-Options: nosniff header must be set on all responses (Please double/triple
            check
            this header for the exact spelling and syntax. If you are off by 1 character, the browser will not disable
            MIME
            type sniffing which renders your header useless and can be a security issue). It is recommended that
            you add this header in your Response class so you'll never forget it
        </p>

        <p>UTF-8: Some files contain emojis that will be displayed when the page loads. These characters must display
            properly.</p>

        <p>
            404: If a request is received for any path that should not serve content, return a 404 response with a
            message
            saying that the content was not found. This can be a plain text message.
        </p>

        <br>
        <hr/>
        <h4>
            Chat Feature
        </h4>

        <p>
            The front end contains a chat feature that will send specific requests to your server. To enable this
            feature, implement the following end points. Note that you will need to use both a database and cookies to
            complete all of these end points. All functionality must persist through a server restart, and you must
            use a MongoDB database. During grading, there will be a MongoDB database running on localhost port 27017.
        </p>

        <p>
            To test your app with a database, you can either install MongoDB on your device, use the provided
            docker-compose.db-only.yml file with Docker, use Docker in the command line, or any other way you have to
            run MongoDB on localhost.
        </p>

        <br>
        <h5>Create Chat Message (`POST /api/chats`)</h5>

        <p>Creates a new chat message. The frontend will send a POST request to your backend at the route
            `/api/chats`.
            Listed below is the format expected. The entirety of the body of the request will be a JSON string</p>

        <p>Request (JSON): {"content": string}</p>

        <p><span class="n"></span><span class="h">
            Response: 200 OK with a message of exactly "Great work sending a chat message!!"
        </span></p>

        <p>
            You may assume the request is properly formatted
        </p>

        <p>
            When a message is sent, you should create a unique id for the message and store it in your database along
            with the author of the post. See the spec for the GET request to see the expected format of a chat message.
        </p>
        <p>
            If the same user creates multiple posts, all posts must have the same author. This should be tracked using a
            cookie that is set and tracked by your server. The name of this cookie must be exactly "session" and contain
            a unique id used to identify this user. This cookie must be set when they send their first message (ie. do
            not set the cookie when they first load your homepage. Some users will only use your API and not your front
            end)
        </p>

        <p>
            Since we don't have user accounts yet, you can choose random author names for users for now. The names must
            be different for different users, but can be randomly generated. You are allowed to use the uuid package to
            generate ids and tokens if you'd like.
        </p>

        <br>
        <h5>Get Chat Messages (`GET /api/chats`)</h5>

        <p>Retrieves all chat messages. The frontend will send a GET request to your backend at the route
            `/api/chats`.
            Listed below is the format expected.</p>

        <p>Response (JSON): {"messages": [{"author": string, "id": string, "content": string, "updated": boolean}, ...]}

        <p>The `updated` parameter that is sent back in the list of messages represents if the message has ever been
            updated. If it has it must be set to true. When a message is first created, this should be set to false.</p>


        <p>Security: You must escape any HTML in the users' messages. Since your users can submit any text they want, a
            malicious user could submit HTML tags that attack other users. You cannot allow this. You must escape any
            submitted HTML so it displays as plain text instead of being rendered by the browser.</p>

{#        <br>#}
{#        <h4>Testing Procedure</h4>#}
{##}
{#        <ol>#}
{#            <li>This objective will be autograded in Autolab and you will receive feedback as soon as you submit. You#}
{#                are allowed as many submissions as you'd like in order to complete this objective (All application#}
{#                objectives are manually graded after the final deadline)#}
{#            </li>#}
{#        </ol>#}

        <br>
        <hr/>
        <h3>
            Application Objective 1 - Chat Features with Cookies
        </h3>
        <hr/>


        <br>
        <h5>Update Chat Message (`PATCH /api/chats/{id}`)</h5>

        <p>Updates an existing message with new content. The frontend will send a PATCH request to your backend at
            the route `/api/chats/{id}`. Listed below is the format expected.</p>

        <p>Request (JSON): {"content": string}</p>

        <p>Errors:</p>
        <ul>
            <li>**403 Forbidden**: This error is for when the user lacks permission (Users can only update their own
                messages. Your server needs to check for this). You may choose the message for this error
            </li>
{#            <li>**404 Not Found**: This error is for when the message with the specified ID does not exist.</li>#}
        </ul>

        <p>
            After a message has been updated using this endpoint, its "updated" field must be set to true
        </p>
        <br>
        <h5>Delete Chat Message (`DELETE /api/chats/{id}`)</h5>

        <p>Deletes an existing message from chat history. The frontend will send a DELETE request to your backend at
            the
            route `/api/chats/{id}`. Listed below is the format expected.</p>

        <p>Errors:</p>
        <ul>
            <li>**403 Forbidden**: This error is for when the user lacks permission (can only delete own messages). You
                may choose the message for this error</li>
{#            <li>**404 Not Found**: This error is for when the message with the specified ID does not exist.</li>#}
        </ul>

        <p>After a message is deleted by its author, it must never be sent by the GET endpoint again.</p>





        <br>
        <hr/>
        <h3>
            Application Objective 2 - Docker and Docker Compose
        </h3>
        <hr/>

        <p>
            Note: this will be required for the Learning Objective on all future HWs. It's a free Application Objective
            to do it now
        </p>
        <p>
            Make sure your app runs properly with docker compose up on port 8080
        </p>

        <br>
        <hr>
        <h3>Grading</h3>
        <hr>
        <p>Each objective will be scored on a 0-3 scale as follows:</p>

        <table class="table table-bordered table-skinny">
            <tr>
                <td>3 (Complete)</td>
                <td>Clearly correct</td>
            </tr>
            <tr>
                <td>2 (Complete)</td>
                <td>Mostly correct, but with some minor issues
                </td>
            <tr>
                <td>1 (Incomplete)</td>
                <td>Not all features outlined in this document are functional, but an honest attempt was made to
                    complete the objective
                </td>
            <tr>
                <td>0.3 (Incomplete)</td>
                <td>The objective would earn a 3, but a security risk was found while testing</td>
            <tr>
                <td>0.2 (Incomplete)</td>
                <td>The objective would earn a 2, but a security risk was found while testing</td>
            <tr>
                <td>0.1 (Incomplete)</td>
                <td>The objective would earn a 1, but a security risk was found while testing</td>
            <tr>
                <td>0 (Incomplete)</td>
                <td>No attempt to complete the objective or violation of the assignment (Ex. Using an HTTP library)</td>
        </table>
        <br>
        <p>Note that for your final grade there is no difference between a 2 and 3, or a 0 and a 1. The numeric score
            is meant to give you more feedback on your work.</p>

        <table class="table table-bordered table-skinny">
            <tr>
                <td>3</td>
                <td>Objective Complete</td>
            </tr>
            <tr>
                <td>2</td>
                <td>
                    Objective Complete
                </td>
            </tr>
            <tr>
                <td>1</td>
                <td>
                    Objective Not Complete
                </td>
            </tr>
            <tr>
                <td>0</td>
                <td>
                    Objective Not Complete
                </td>
            </tr>
        </table>
        <br>
        <p>Autograded objectives are graded on a pass/fail basis with grades of 3.0 or 0.0.</p>

        <br>
        <hr>
        <h3>Security Essay</h3>
        <br>
        <p>For each objective for which you earned a 0.3 or 0.2, you will still have an opportunity to earn credit for
            the
            objective by submitting an essay about the security issue you exposed. These essays must:</p>

        <ul>
            <li>Be at least 1000 words in length</li>
            <li>Explain the security issue from your submission with specific details about your code</li>
            <li>Describe how you fixed the issue in your submission with specific details about the code you changed
            </li>
            <li>Explain why this security issue is a concern and the damage that could be done if you exposed this issue
                in
                production code with live users
            </li>
        </ul>


        <p>Any submission that does not meet all these criteria will be rejected and your objective will remain
            incomplete.</p>

        <p>Due Date: Security essays are due 1-week after grades are released.</p>

        <p>Any essay may be subject to an interview with the course staff to verify that you understand the importance
            of
            the security issue that you exposed. If an interview is required, you will be contacted by the course staff
            for
            scheduling. Decisions of whether or not an interview is required will be made at the discretion of the
            course
            staff.</p>

        <p>When you don't have to write an essay:</p>
        <ul>
            <li>If you never submit a security violation, you never have to write an essay for this course. Be safe. Be
                secure
            </li>
            <li>If you earn a 0.1, there's no need to write an essay since you would not complete the objective anyway
            </li>
        </ul>


    </div>
{% endblock %}
