{% extends 'hw/hw.html' %}

{% block title %}CSE312: Homework 5{% endblock %}

{% block header %}
    <h1>Homework 5 - Deployment</h1>
    <hr/>
{% endblock %}

{% block task %}



    <div class="card-header section-testing">
        <div></div>
    </div>

    <div class="section-card card-testing hw-content">

        <hr/>
        <h3>
            Introduction
        </h3>
        <hr/>
        <p>
            You will continue to add features to your app
        </p>

        <hr/>
        <h3>
            Learning Objective - HTTPS with Nginx
        </h3>
        <hr/>
        <p>
            Setup your app to listen for HTTPS requests on port 443 using a self-signed certificate and nginx running in a separate docker container. The app must function properly. More specifically:

If you receive an HTTP request over port 80, it should be redirected to HTTPS over port 443
The app should be set up to use WebSockets for the chat feature. The WebSockets should be encrypted using WSS
Add the secure directive to your auth token cookies

        </p>

        <p>
            Testing Procedure
Start your server with docker compose up
Open a browser and, with the network tab open, navigate to http://localhost
Accept any warning about a self-signed certificate
Verify that the home page loads
Check the network tab to verify that you received a redirect to https://localhost and that the page loaded properly over HTTPS
Verify that WebSocket connection was made using the WSS protocol
Register and login
Send a message in chat and verify that the feature still works (Displays your username) over WSS
Check the auth token cookie and verify that the secure directive was set
        </p>

        <p>
            -nginx
            -https w/ pre-created self-signed certs
        </p>

        <br>
        <hr>
        <h3>
            Application Objective 1 - IP Rate Limiting
        </h3>
        <hr/>

        <p>
            DoS Protection (IP rate limiting)
Add very basic DoS protection to your app based on rate limiting IP addresses. Your IP protection should:

Block requests from an IP address if it has made more than 50 requests within a 10 second period
Every single request from an IP should count towards this limit (eg. Just loading your homepage requires ~5 requests that all count toward the limit)
While an IP is blocked, respond to all requests from the IP with a 429 "Too Many Requests" response with a message explaining the issue to the user
When an IP becomes blocked, it should remain blocked for 30 seconds
After 30 seconds pass, requests from the IP should be handled as usual unless they hit your rate limit and become blocked again
Testing Procedure
Navigate to the public deployment
Count the number of requests made to load the page
Refresh slowly enough times to reach 70 requests, but not fast enough to trigger the rate limiter (<50 requests per 10 seconds)
Ensure all requests are handled as expected
Wait ~10 seconds
Refresh quickly such that >50 requests are sent in at 10 second window
Ensure that after the 50th request, you start seeing 429 responses and the page no longer loads
Wait ~20 seconds
Refresh the page and ensure that you are still blocked
Wait another ~10 seconds
Refresh the page and ensure that it loads
[Hit the rate limit again on the same device] Refresh quickly such that >50 requests are sent in at 10 second window
Ensure that after the 50th request, you start seeing 429 responses and the page no longer loads
Within 30 seconds, on a second device with a different public IP address, navigate to the public deployment and ensure that the page loads
Make sure the other device has a different public IP address. If you are at a residence, all your devices probably have the same public IP address. To ensure you have a different IP, you can use your phone on mobile data, or turn on a VPN
        </p>

        <p>
            -Forwarding real IP through nginx
            -IP Rate limiting
            -Testing when you're on localhost - no excuse after grading that you didn't know
        </p>

        <br>
        <hr>
        <h3>
            Application Objective 2 - JWTs and Authentication Servers
        </h3>
        <hr/>

        <p>
            Warning: This objective is much more substantial than the other 2 on this HW
        </p>
        <p>
            -Add an auth server
            -Use nginx to route register/login to this server
            -Auth server issues JWTs as cookies
            -App server verifies JWTs for auth (Shared secret or excryption keys. I prefer encryption keys. Maybe generated in Python or during compose up)
            --must be done without talking a DB
            -CORS may have something to say here that also needs to be handled (Probably not though since from the browsers pov, it's all 1 server, nginx)
        </p>

        Do I let them use a library for most of the work? Would need to remove the warning about this one being harder than the other 2
        https://pyjwt.readthedocs.io/en/latest/usage.html#encoding-decoding-tokens-with-rs256-rsa


        <br>
        <hr>
        <h3>Submission</h3>
        <hr>
        <p>Submit all files for your server to Autolab in a .zip file</p>

        <p>
            If you used any external libraries, be sure to add them to your requirements.txt. Autolab will install all
            dependencies in this file, and no other dependencies, before starting your server.
        </p>

        <div class="alert alert-info">
            It is strongly recommended that you download and test your submission after submitting. To do this, download
            your zip file into a new directory, unzip your zip file, enter the directory where the files were unzipped,
            run
            docker compose up, then navigate to localhost:8080 in your browser and test all of your features. This
            simulates exactly what the TAs will do during grading.
            <br><br>
            If you ignore this recommendation, don't be surprised when you do not earn credit for either Application
            Objective even if your code functions properly when running server.py
        </div>


        <br>
        <hr>
        <h3>Grading</h3>
        <hr>
        <p>Each objective will be scored on a 0-3 scale as follows:</p>

        <table class="table table-bordered table-skinny">
            <tr>
                <td>3 (Complete)</td>
                <td>Clearly correct</td>
            </tr>
            <tr>
                <td>2 (Complete)</td>
                <td>Mostly correct, but with some minor issues
                </td>
            <tr>
                <td>1 (Incomplete)</td>
                <td>Not all features outlined in this document are functional, but an honest attempt was made to
                    complete the objective
                </td>
            <tr>
                <td>0.3 (Incomplete)</td>
                <td>The objective would earn a 3, but a security risk was found while testing</td>
            <tr>
                <td>0.2 (Incomplete)</td>
                <td>The objective would earn a 2, but a security risk was found while testing</td>
            <tr>
                <td>0.1 (Incomplete)</td>
                <td>The objective would earn a 1, but a security risk was found while testing</td>
            <tr>
                <td>0 (Incomplete)</td>
                <td>No attempt to complete the objective or violation of the assignment (Ex. Using an HTTP library)</td>
        </table>
        <br>
        <p>Note that for your final grade there is no difference between a 2 and 3, or a 0 and a 1. The numeric score
            is meant to give you more feedback on your work.</p>

        <table class="table table-bordered table-skinny">
            <tr>
                <td>3</td>
                <td>Objective Complete</td>
            </tr>
            <tr>
                <td>2</td>
                <td>
                    Objective Complete
                </td>
            </tr>
            <tr>
                <td>1</td>
                <td>
                    Objective Not Complete
                </td>
            </tr>
            <tr>
                <td>0</td>
                <td>
                    Objective Not Complete
                </td>
            </tr>
        </table>
        <br>
        <p>Autograded objectives are graded on a pass/fail basis with grades of 3.0 or 0.0.</p>

        <br>
        <hr>
        <h3>Security Essay</h3>
        <br>
        <p>For each objective for which you earned a 0.3 or 0.2, you will still have an opportunity to earn credit for
            the
            objective by submitting an essay about the security issue you exposed. These essays must:</p>

        <ul>
            <li>Be at least 1000 words in length</li>
            <li>Explain the security issue from your submission with specific details about your code</li>
            <li>Describe how you fixed the issue in your submission with specific details about the code you changed
            </li>
            <li>Explain why this security issue is a concern and the damage that could be done if you exposed this issue
                in
                production code with live users
            </li>
        </ul>


        <p>Any submission that does not meet all these criteria will be rejected and your objective will remain
            incomplete.</p>

        <p>Due Date: Security essays are due 1-week after grades are released.</p>

        <p>Any essay may be subject to an interview with the course staff to verify that you understand the importance
            of
            the security issue that you exposed. If an interview is required, you will be contacted by the course staff
            for
            scheduling. Decisions of whether or not an interview is required will be made at the discretion of the
            course
            staff.</p>

        <p>When you don't have to write an essay:</p>
        <ul>
            <li>If you never submit a security violation, you never have to write an essay for this course. Be safe. Be
                secure
            </li>
            <li>If you earn a 0.1, there's no need to write an essay since you would not complete the objective anyway
            </li>
        </ul>


    </div>
{% endblock %}
